[2016-10-13 22:47] BrianOttaway opened #1 "TestBug Entry"

[2016-10-13 22:50] jketreno commented on #1
The flow seems to be working; not sure what the "Projects" field is though--why didn't it auto-lock to "website" ?

[2016-10-13 22:52] BrianOttaway commented on #1
RESOLUTION: xyz. This bug is now close.

[2016-10-14 19:03] brottawa opened #2 "Test Entry: External new user"
**## TEST.**
I am getting a 404 error when I try to access this page (LINK). Can you please advise? @jketreno @BrianOttaway

[2016-10-14 23:16] jketreno commented on #2
Which link are you trying to access?

Also, syntax for embedding a link is  ```[title-in-brackets](url-in-parenthesis)```

For example:

```[ketrenos.com](https://ketrenos.com)``` becomes [ketrenos.com](ketrenos.com).

Cheers,
James

[2016-10-15 00:50] BrianOttaway commented on #2
Can I reply via email?

From: James Ketrenos [mailto:notifications@github.com]
Sent: Friday, October 14, 2016 4:16 PM
To: MinnowBoard-org/website <website@noreply.github.com>
Cc: Ottaway, Brian R <brian.r.ottaway@intel.com>; Assign <assign@noreply.github.com>
Subject: Re: [MinnowBoard-org/website] Test Entry: External new user (#2)

I am getting a 404 error when I try to access this page (LINK).

[2016-10-15 01:16] jketreno commented on #2
Well, you can certainly reply to my email @BrianOttaway however I don't know how it manages the threading in GitHub. We shall find out, I reckon :)

James

________________________________
From: BrianOttaway [notifications@github.com]
Sent: Friday, October 14, 2016 5:50 PM
To: MinnowBoard-org/website
Cc: Ketrenos, James P; Mention
Subject: Re: [MinnowBoard-org/website] Test Entry: External new use

[2016-11-29 19:18] jketreno opened #3 "no description for J1Pin7 on board viewer"
In the board viewer, J1Pin7 in the left-navigation is blank.

The [wiki](http://wiki.minnowboard.org/MinnowBoard_MAX#J1_Layout) doesn't identify anything for J1Pin7.

[2016-11-29 19:22] jketreno commented on #3
To change what shows up here, [boards/minnowboard_turbot_B_21/board.json](https://github.com/MinnowBoard-org/website/blob/master/boards/minnowboard_turbot_B_21/board.json) needs to be updated:

[code]

Change the `description` to the correct text.

[2016-12-01 17:54] jketreno opened #4 "Control-click is not opening pages into new tabs"
Since much of the site navigates via manipulation of app-route, control-clicking on items is not opening that item into a new tab but just changes the current page.

[2016-12-01 18:01] jketreno opened #5 "board-viewer: Using Firefox, hover dialog flickers off if it overlays the item being viewed"
Most reproducible in JP1, if the dialog from the current pin is taller than the dialog from the last pin, the sequence of showing the last pin, then changing the text, then moving results in the mouse leaving active pin, and the hover being closed.

[2016-12-01 20:05] jketreno opened #7 "Switch all http://*.minnowboard.org links to => https://*.minnowboard.org"
The site should only be linking to https:// versions of all *.minnowboard.org pages. Once new certificates are issued for wiki.minnowboard.org, this change can be made.

To find all instances:
[code]

[2016-12-01 23:11] dbkinder opened #9 "Issue reporting link should go directly to the issues tab"
The "Get Help" page says, "We currently have a project set up in our MinnowBoard.org: GitHub group for filing questions and issues." and links to https://github.com/minnowboard-org/bugs-and-help.  This would be better aimed at https://github.com/minnowboard-org/bugs-and-help/issues

[2016-12-02 00:29] jketreno commented on #9
Since the verbiage accurately describes the link, changing the link means we should change the text.

Perhaps:

?

[2016-12-02 00:30] jketreno opened #10 "Optimize the Polymer loading sequence"
The current process of fetching all of the Polymer related components for the website results in the initial load of the page taking a fair amount of time to load. We need to explore lazy loading of resources, as well as perhaps providing "Loading..." indicator.

[2016-12-02 00:33] jketreno commented on #10
I committed a text based loading indicator with commit fc1e5024535. That does not attempt to vulcanize or optimize the loading sequence.

[https://www.polymer-project.org/1.0/docs/tools/optimize-for-production](https://www.polymer-project.org/1.0/docs/tools/optimize-for-production) has some information on how we can improve the loading performance of the site.

If we can't speed it up sufficiently

[2016-12-02 01:40] dbkinder opened #11 ""Explore the Board" links should all go to the same place"
On the minnowboard.org home page there are five links to "Explore the Board" (maybe a bit overkill) and all go the http://minnowboard.org/board-viewer except for one that goes to http://minnowboard.org/learn-more/high-level-technical-specifications.  I'd expect links with the same words would go to the same place.  Perhaps the one that goes to the high level specs should be named differently.

[2016-12-02 01:43] dbkinder opened #12 "Clicking on "Tutorials" in the header should always take you to the tutorials index page"
The "Tutorials" link in the header takes you to the page listing all the tutorials except if you're in a tutorial. UX design team says it should behave consistently.

[2016-12-02 01:46] dbkinder opened #13 "Vertical scroll bar for the main content should be at the edge of the visible window"
UX team says the vertical scroll bar should consistently be at the edge of the visible window.  The home page does this, but all the other pages have the scroll bar inside with visible window with white space to the right of the scroll bar.

[2016-12-02 01:53] dbkinder opened #14 "Board graphic on "Explore the board" moves around and top (or bottom) get's clipped"
Visit the "Explore the Board" page and tap the ethernet connector and then close the box that shows the detailed content by clicking on the [X].  Now the image of the board is too high on the page and scrolling doesn't work to show it.  Also, clicking on another link in the header (say "Community") and then back on "Explore the Board" doesn't restore the page to it's original view (it comes back w

[2016-12-02 17:38] jketreno commented on #14
The title of this issue is by design.

This is a bug. If the user didn't interact with the board, it should return to where it was prior to the context tray opening.

There is no "scrolling" in the board-viewer. It is a tap and drag interface. Would adding an icon in the upper right near the magnifier help you to understand the interface better?

By design.

[2016-12-02 17:44] jketreno opened #15 "Update the favicon"
Attached are the favicons that should be used for the website.

[favicon.zip](https://github.com/MinnowBoard-org/website/files/627851/favicon.zip)

[2016-12-02 17:55] dbkinder commented on #14
Perhaps then we need a button to reset the "Explore the Board" page to a pristine state with the board image centered and any detail tabs closed so you don't end up with things looking like this after clicking around on the board a few times, with no easy way to reset the page:

![image](https://cloud.githubusercontent.com/assets/11063618/20844536/20c9d6c4-b875-11e6-8582-c92900771c82.png)

[2016-12-02 18:16] dbkinder opened #16 "Set focus on page load so navigation keys work for scrolling body content"
When a page loads, focus should be put into the main content window so the page-up/page-down (and arrow up/down) keys work to scroll the page.  (If I go to pretty much any site such as intel.com, microsoft.com, apple.com, sparkfun.com, etc. and press page-down, the page scrolls without clicking somewhere first, but not on minnowboard.org)

[2016-12-02 18:22] dbkinder opened #17 "Need a 404/missing page error response"
If you reference a non-existent page such as minnowboard.org/adfasdf you get a blank page with just a site header on it:

![image](https://cloud.githubusercontent.com/assets/11063618/20845285/2f0c4fa6-b879-11e6-8b96-798a442aa6c6.png)

[2016-12-02 18:40] dbkinder opened #18 "Site-wide search, external Google searches, and SEO"
We don't have a site search capability today (there's no box to enter search terms and have something show up). UX folks agree we should implement one.

The way our content is dynamically generated and displayed, is may take some tricks to keep Google's site crawler happy.  There seem to be concerns about search engine optimization (SEO) on polymer sites if you google about it, and maybe some tric

[2016-12-02 21:35] dbkinder opened #20 "Tutorials page: tutorial titles seem smaller than I remember"
on sxc.jf.intel.com/content.minnow/tutorials, the tutorial titles (in list view) include a class 'title' but on minnowboard.org/tutorials the titles don't have this class applied, so they display with smaller font size.  Was this an intended change or is something wrong?

[2016-12-05 18:26] dbkinder opened #21 "Responsive design on iPhone/Chrome too wide"
When I open minnowboard.org on my iPhone (using Chrome) I see a chopped-off home page.  I believe the home page width should fit on the screen:
![mb-iphone](https://cloud.githubusercontent.com/assets/11063618/20896940/dd7932c2-bad4-11e6-8cb6-a4fde44b5e39.PNG)

[2016-12-05 18:40] BrianOttaway opened #22 "Board Explorer views in mobile can be difficult"
Condition: Loading "Board Explorer" in Mobile browser can be difficult: a) board view can disappear when scaling page or panning within zoomed page, b) hard to properly zoom board to show.

Q: Should mobile visitors get a different initial view or an initial message that informs them of board explorer viewing tips?

[2016-12-05 19:21] adreanneb opened #23 "Determine what content to move from wiki to website"
After google analytics review, determine what we are moving over to the new site.

[2016-12-05 19:30] adreanneb opened #24 "Create new FAQs"

[2016-12-05 23:29] jketreno opened #25 "Node app currently doesn't let you host on a Windows platform"
The node app uses Unix specific path separators to build the basePath.

[2016-12-05 23:30] #25 closed

[2016-12-07 20:45] jketreno opened #28 "URLs in Board Explorer are not links, just text"
The links in the board explorer content do not render as links, they are just text.  They should be clickable links.

For example, go to the board viewer and select the ethernet port.  Scroll down in the popup content to see the links.  There are links on many of the board parts to go through and find.
https://www.minnowboard.org/board-viewer

<img width="1273" alt="screen shot 2016-12-06 at 1 37

[2016-12-08 23:10] noelianunez opened #29 "Add metatags for SEO"
Google Search Console:
< meta name="google-site-verification" content="ItC7g2v9pxJGO8ArKGBGNKrSGRYJcNyuRsoQ_nooYl8" / >

Add general meta tags like title, etc
Add Open Graph meta tags for social sharing

[2016-12-09 20:28] ebrent8 opened #30 "Need redirect for box URL"
The Turbot box will have the URL www.minnowboard.org/setup printed on it.

We need that URL to redirect to a NEW tutorial which is currently being written titled Getting Started.  Here is the URL.  I will submit the pull request to add this new tutorial today.

https://minnowboard.org/tutorials/getting-started

[2016-12-09 20:31] ebrent8 opened #31 "Need NEW tutorial titled Getting Started"
We need a new tutorial titled "Getting Started".  This will be the landing page for users who go to the URL printed on their Turbot box.  Please make this tutorial 1st in the list.

www.minnowboard.org/setup

[2016-12-13 00:40] jketreno opened #32 "Site loads very slow on some browsers / connections"
Some users are reporting very slow load times for the website; it sits for a long time fetching/loading the Polymer assets, most notably on Firefox.

We need to run some profiling of the site to see where the delays are coming from and improve the responsive loading.

[2016-12-13 00:42] jketreno opened #33 "board-viewer difficult to work with on lower resolution displays"
The current font size and white space configuration of the board-viewer results in a reduced display area for working with the board viewer, examining pop-ups, context documentation, etc. Most notably on lower resolution displays.

We need to explore how to style the board-viewer as interactive developer documentation vs. a website; developers currently work with text editors with much smaller fon

[2016-12-13 00:44] ebrent8 commented on #32
Some small things which may help:
- enable GZIP on the server
- the board photo on the homepage is more than 200kb.  it could be reduced to a fraction of that.

[2016-12-13 01:48] jketreno commented on #32
@ebrent8 It isn't transfer bandwidth; it is the number of round trips of assets that need to be collected before the site can begin rendering.

Vulcanizing looks like it could give the largest improvement. There are articles on the topic:

https://www.polymer-project.org/1.0/docs/tools/optimize-for-production

[2016-12-13 21:30] ebrent8 commented on #30
ODX - you may need @jketreno or @lilybec assistance on this redirect.

[2016-12-13 23:25] ebrent8 commented on #30
@jketreno I can think of a few ways to do this.  Not sure which one you want to do.
If you want to do a simple HTML page with GA and a redirect index.htm page, I can implement that.  Just let me know.

But maybe you want an .htaccess or server-side solution though?

[2016-12-13 23:42] jketreno commented on #30
Easiest and fastest for users hitting the site to add a route to the server express app in `app.js`:

[code]

The express app doesn't require a traditional webserver to be running (eg., apache or nginx) so there is no `.htaccess`.

[2016-12-14 00:03] ebrent8 commented on #30
Ok cool.  I'll let you or ODX do that since I haven't played with the app.js stuff yet.  Thx.

[2016-12-14 18:08] jketreno opened #35 "RegExp for turning off app-route has invalid escape sequence"
The regexp to which page is active has an invalid escape sequence and should be changed:

[code]

This does not impact existing functionality but it is an invalid escape which confuses code inspection.

[2016-12-14 18:09] #31 closed

[2016-12-14 18:10] #30 closed

[2016-12-14 18:16] #35 closed

[2016-12-14 18:54] ebrent8 commented on #20
Good eye.  Yes this was an intentional change by @jketreno.  The tutorial images are now in list format, but may change to the grid view in the future when we have more.

Also, having a tutorial selector in the future so users can only see v3 board tuts may change this look and feel as well.

@jketreno can you confirm and close if this is the case?  Thx.

[2016-12-14 18:58] jketreno commented on #20
@dbkinder Are you talking about `grid` vs `list` or just a missing class that isn't being applied to the list view data output (very likely something that was just missed when creating the list view)

[2016-12-14 22:40] ebrent8 commented on #9
I like it.  Made the change and pushed to stg.

[2016-12-14 23:01] ebrent8 commented on #15
Fixed in fix-15 branch on stg

[2016-12-14 23:01] #15 closed

[2016-12-14 23:02] ebrent8 commented on #9
fixed in ebrent8-fix-9

[2016-12-14 23:02] #9 closed

[2016-12-16 19:17] jketreno opened #42 "git pull didn't run on production push"
A change to `production` didn't successfully change the changes on the production site.

[2016-12-16 19:21] jketreno opened #43 "Add content editing documentation for Windows localhosting of the site"

[2016-12-16 20:20] ebrent8 commented on #42
Also the redirect from app.js doesnt seem to be working.  Or maybe it's a browser cache issue on my side.  Can you verify?  Thx

https://www.minnowboard.org/setup

[2016-12-16 22:55] jketreno commented on #42
Please clear your browser cache and try again. If that doesn't work, try using Incognito mode, or a different browser. Let us know what you discover.

[2016-12-16 23:15] ebrent8 commented on #42
OK yes working now.  I tried it in a new incognito window, so not sure what the problem was.  Maybe cache, maybe DNS or something?  Anyway, it's working now.  Thx.

[2016-12-16 23:19] ebrent8 commented on #12
This one gets me every time.  Hey @jketreno , can you advise me or ODX how to fit this?  I would think this is kinda critical.  I do it every time and it makes the site feel broken.  I'll fix, please tell me what part of the engine to look at.  Thx.

**Steps to reproduce:**  Within any tutorial, the topnav Tutorials link doesn't do anything.  The only way back to the tuts list is the breadcrumb li

[2016-12-21 00:46] dbkinder commented on #23
Need to decide what role the wiki.minnnowboard.org site has going forward.  Are we moving interesting content and shutting down the wiki?

[2016-12-21 16:35] ebrent8 commented on #23
Agreed.  We need to decide this.  IN Jan we will meet to decide what should go where and how.  We'd love everyone's opinion and expertise on this subject.  I know that the older Max info is valuable to some of the community.

[2017-01-04 22:50] jketreno commented on #32
I pushed some changes to the `build-optimize` branch to support using `polymer build` however there are style issues with the resulting site.

[2017-01-04 22:52] jketreno opened #45 ""Get Help" is not sending email"
Help requests are being logged to a file and manually pulled down. The system should be sending an email to support at minnowboard.org with each web submission.

[2017-01-04 23:24] jketreno opened #48 "`polymer build` needs to be run after `git pull` when pushing to staging/production"
In order for the website to be vulcanized, the last step of pushing to the server is to run `polymer build` on the project. The `polymer-cli` needs to be installed on the server, and the `sync` script needs to be updated to perform that task prior to exiting.

[2017-01-04 23:24] jketreno commented on #32
Fixed the style issues; was a bug in vulcanize (https://github.com/Polymer/vulcanize/issues/375) -- now fixed in fix-32 branch.

**NOTE:** This requires `polymer build` being run on the project to vulcanize and optimize the web resources into a single bundle. The webhook script `sync` currently does not run `polymer build` after the GIT project is pulled. See issue #48.

[2017-01-04 23:33] jketreno commented on #32
In addition to `polymer build` needing to be run, the pm2 environment needs to change BASE from `/` to `build/bundled/` when this branch is merged into `master` and then when moved to `production`.

[2017-01-04 23:40] #32 closed

[2017-01-05 00:43] jketreno commented on #32
Prior to merging in this fix, loading the website resulted in:
[code]

After `polymer build` was run against the site, it loads with the following:
[code]

[2017-01-12 21:37] ebrent8 commented on #48
Just to be clear, this is for PROD only.  Local DEV updates etc stay the same?   Thx.

[2017-01-12 21:44] jketreno commented on #48
Yes. I was able to work around some idiosyncrasies of the polymer build chain so we can continue doing local dev by launching `npm start` (don't provide the `/` that used to be required)

I ran the `polymer build` after pushing to production, so this bug can be closed.

[2017-01-12 21:44] #48 closed

[2017-01-12 22:11] ebrent8 commented on #48
Cool I see these new updates to the instructions, thanks !

[2017-01-12 22:13] jketreno commented on #45
Fixed with the merge of the staging changes to the production site.

[2017-01-12 22:13] #45 closed

[2017-01-12 22:14] jketreno commented on #43
Done: https://github.com/MinnowBoard-org/website/blob/master/INSTALL-WINDOWS.md

[2017-01-12 22:14] #43 closed

[2017-01-12 22:15] jketreno commented on #29
@noelianunez Do you have a template for how to do both of the above and we'll get it added to the site.

For the Google search console -- is that <meta> tag one that we would add to the index.html?

[2017-01-12 22:16] jketreno commented on #10
The site is now vulcanized and should load /much/ faster (part of merge !50)

[2017-01-12 22:16] #10 closed

[2017-01-12 22:17] jketreno commented on #2
Closing.

[2017-01-12 22:17] #2 closed

[2017-01-12 22:17] #1 closed

[2017-01-12 22:18] jketreno commented on #42
The Webhook was pointing to http://minnowboard.org/sync instead of https://minnowboard.org/sync. The auto-sync to production occurred with the latest merge request. Closing.

[2017-01-12 22:18] #42 closed

[2017-01-12 22:22] noelianunez commented on #29
@jketreno yes I do have, actually I already had the change but was delayed because it will have the same title everywhere and wont change dinamically. Daniel Serna told me he has the implementation for that but couldn't tested since he does not have his local env settled up, I can ask him tomorrow.

These are the metatags needed:

  <meta name="google-site-verification" content="ItC7g2v9pxJGO8ArKG

[2017-01-12 22:40] jketreno opened #51 "Add CPU family codename to CPU description"
We should add the CPU family code name to the CPU description since it is referenced via that code name on various websites and projects. For example, we could use verbiage like:

[code]

The file that needs to be loaded can be linked by clicking `View on GitHub` at the bottom of [CPU context tab](https://stg.minnowboard.org/board-viewer/minnowboard_turbot_B_41/CPU?edit=on)

[2017-01-12 22:40] jketreno opened #52 "edit=on links aren't pointing to GitHub"
The edit=on links aren't pointing to the GitHub URLs. For example: https://minnowboard.org/?edit=on and scroll down to where you see `internal mode: edit page` -- note the URL does not point to GitHub.

[2017-01-12 22:42] #52 closed

[2017-01-12 22:49] jketreno opened #55 "Component links on board-explorer are not populating tab names"
If you load the CPU component via a [deep-link](https://stg.minnowboard.org/board-viewer/minnowboard_turbot_B_41/CPU) the tab is not being populated:

![image](https://cloud.githubusercontent.com/assets/742584/21911595/4cf81f9a-d8d6-11e6-8442-dd1671cad41d.png)

[2017-01-12 22:57] ebrent8 commented on #51
@BrianOttaway or @adreanneb Who will write the exact copy that we need for this description?  I do not know this information, but will fix the website when we get it. Thx.

[2017-01-13 01:32] BrianOttaway commented on #51
This is what I'd suggest for the Turbot board explorer: [/Turbot_B_41/docs/CPU.md](https://github.com/MinnowBoard-org/website/blob/master/boards/minnowboard_turbot_B_41/docs/CPU.md):

[2017-01-13 17:03] adreanneb commented on #51
[The MinnowBoard Turbot is available in two CPU configurations.docx](https://github.com/MinnowBoard-org/website/files/704858/The.MinnowBoard.Turbot.is.available.in.two.CPU.configurations.docx)

Some suggested edits.

[2017-01-13 19:46] BrianOttaway commented on #51
I like Adreanne's reorganization better...It reads better to have the design logic paired with the specs. Also, better to have the BayTrail background and marketing lingo at the bottom.

[2017-01-13 20:58] ebrent8 commented on #51
Ok I like it too.  I will get it changed on the website right now.

[2017-01-13 21:15] ebrent8 commented on #51
OK quick question for you all.  Is this new info taking the place of ALL of the existing text or appending on the end of it?

[2017-01-13 21:18] dbkinder opened #57 "http://files.minnowboard.org website content"
Add this to our list of content to examine and either update, move, or delete.  It looks like http://files.minnowboard.org content is actually hosted on the same server as http://wiki.minnowboard.org 184.105.139.132

[2017-01-13 21:24] ebrent8 commented on #57
Okey dokey, thanks.  Yeah we will have to examine what is valuable.

[2017-01-13 23:04] ebrent8 commented on #51
@jketreno Do you know the answer?  Should that copy replace ALL of the existing text?

[2017-01-13 23:09] BrianOttaway commented on #51
Replace it All….ahahaah. (villain-like voice)

From: ebrent8 [mailto:notifications@github.com]
Sent: Friday, January 13, 2017 3:04 PM
To: MinnowBoard-org/website <website@noreply.github.com>
Cc: Ottaway, Brian R <brian.r.ottaway@intel.com>; Mention <mention@noreply.github.com>
Subject: Re: [MinnowBoard-org/website] Add CPU family codename to CPU description (#51)

@jketreno<https://github.com/jket

[2017-01-14 00:01] ebrent8 commented on #51
Roger that.  Commencing operation now ...

[2017-01-14 00:23] ebrent8 commented on #51
Fixed on staging.  @adreanneb please review when you get a chance.  Thx.
https://stg.minnowboard.org/board-viewer

[2017-01-17 20:49] adreanneb commented on #51
looks good

[2017-01-17 21:54] BrianOttaway commented on #51
NOTE: I did inquire with ADI on availability dates for Dual-E models that should potentially be added to the CPU descriptions. Response pending...Brent copied on email contact.

[2017-01-19 01:44] noelianunez opened #59 "Add GA tracker"
Adding missing GA tracker to be able to track events in SPA as mentioned in: https://developers.google.com/analytics/devguides/collection/analyticsjs/single-page-applications

[2017-01-20 01:40] ebrent8 commented on #51
Ready for PROD when owner is ready to push.  Thx.

[2017-01-20 21:16] ebrent8 opened #60 "Redirects for old wiki and search result pages"
There is a top Google result which points to an old wiki page.  See screenshot.
We need this URL:
https://minnowboard.org/meet-minnowboard-max

To redirect to our homepage: https://minnowboard.org

![unknown](https://cloud.githubusercontent.com/assets/18618930/22165759/4d625d6e-df12-11e6-8511-2cd3fa2cc56f.jpeg)

[2017-01-20 21:31] jketreno commented on #60
We can add the redirect; we should perhaps look through the server logs to see inbound links and redirect them all to the main page.

Since I am unable to find the search results you found, what was the search string you looked for to get the above results, and from which browser and OS? In a digital fingerprint free browser, a Google search for "minnowboard" yielded the following:

![image](https

[2017-01-20 21:33] ebrent8 commented on #60
Yeah having all the old links redirect to the new homepage would be a nice comprehensive way to do it.  @adreanneb sent me the SEO issue, so I don't how she found it.  Hey Adreanne, what were the steps to getting that Google result?  Thx.

[2017-01-20 21:59] ebrent8 commented on #60
Here's how to recreate that.  Go to Bing.com and search for "minnowboard".

[2017-01-20 23:18] adreanneb commented on #60
I used IE!

[2017-01-20 23:25] ebrent8 commented on #60
Yep cool.  I saw the same results from Safari on my Mac.

[2017-01-23 19:32] adreanneb opened #61 "What are the allowed values for tutorial "level"?"
Tutorials have a "Level" attribute that's displayed in the left nav area. To date all the tutorials have been marked as "Starter", but the FTDI-Serial tutorial wants to be marked as "Advanced" (or something that's not "Starter" at least).

What are the allowed values for the tutorial levels?

Moving over Issue #151 gitlab

[2017-01-23 21:07] adreanneb opened #62 "Need required ingredient equipment photos with lightbox"
We need photos of the required equipment as listed below. See attachment photo as an example.

- AC Adapter showing the barrel connector
- HDMI to HDMI Micro cable showing both connectors
- USB Thumb Flash Drive
- microSD Card (class 10) with adapter
- HDMI Monitor or TV (I personally think we can get a generic monitor photo for this)
- USB Keyboard
- Ethernet cable

Issue 88/99 in github

[2017-01-23 21:57] adreanneb opened #63 "Add click-thru agreement in order to download board design files."
Note: Brian will need to ratify the final language before implementing. Brent and Brian should discuss and edit item description

Reference Designs will be designed to comply with FCC rules, and will have regulatory disclaimer language that a developer needs to click through and accept before downloading files. Suggested verbiage: The files for this reference design do not guarantee regulatory com

[2017-01-23 22:09] adreanneb opened #64 "Board viewer: Tray selection and open/closed behaviour"
When an item is selected in the sidebar it should be default open when clicked on. If another item is selected in the sidebar it also opens. Next if clicked outside the tray both those items are now trays. See the images attached.

moved from gitlab issue 48

[2017-01-23 22:14] adreanneb opened #65 "tutorial link in header doesn't show tutorial home page when in a tutorial"
While I'm looking at a tutorial, say https://sxc.jf.intel.com/minnow/tutorials/updating_your_firmware if I click on the "Tutorials" link in the header I'd expect to get back to the tutorials home page https://sxc.jf.intel.com/minnow/tutorials but I don't. Nothing happens. If I click on one of the other header links (like "Learn More") and then click on the "Tutorials" link in the header I get wher

[2017-01-23 22:19] adreanneb opened #66 "Possible thumbnail images idea for Requirements list"
The required accessories list could use some images to ensure the user identifies the exact items needed. I believe this would particularly help with the micro HDMI cable, which isn't common. It would also add more imagery to the site, which has a lot of text.
Let's discuss:
Would this be helpful? Necessary?
Moving columns and content : suppliers to far right.
Thumbnail quality : what is good enou

[2017-01-23 22:21] adreanneb opened #67 "Update Pin 15 to fully document that pin as an example"
Items currently missing:
Example of how to use the pin in i2c (mraa and javascript or python)
Exact steps for how to reconfigure the pin from i2c to gpio
Information on how to determine if the pin is configured for i2c or gpio

Issue 92 in gitlab

[2017-01-23 22:26] adreanneb opened #68 "markdown ordered lists with something other than Arabic digits?"
In the tutorials I wanted to add some minor steps to an instruction to create something like this:
1. First major step
   a) do this little step first
   b) then this little step
   c) and finally this one
2. Second major step
But didn't see how to do this unless I used Arabic numbers for the minor steps too, like this:
1. First major step
   1. do this little step first
   2. then this little ste

[2017-01-23 22:28] adreanneb opened #69 "Site-wide search, external Google searches, and SEO"
We don't have a site search capability today (there's no box to enter search terms and have something show up). I'm curious if the UX folks believe this is a necessary capability for a successful site.
Also, the way our content is dynamically generated and displayed, I'm not sure that Google is going to see the content that's rendered on this site. (If you do a "view source", none of the actual wo

[2017-01-23 22:32] adreanneb opened #70 "Add the footer to all of the content pages"
Not a blocker for MVP, however since the footer contains the feedback link and copyright information, we need to have it available on all of the pages of the site.

Issue 143 in github

[2017-01-23 22:35] adreanneb opened #71 "MinnowBoard Help page has a horizontal scroll bar on IE and lots of white space at end of page"
https://sxc.jf.intel.com/minnow/help shows a horizontal scroll bar when using IE that doesn't show up using chrome. Both IE and chrome show lots of (unnecessary) white space at the end of the page (causing a vertical scroll bar to show up)

Big discussion in gitlab issue 191 - still an issue?

[2017-01-23 22:38] adreanneb opened #72 "Present board design files in a table with licensing"
Present board design files under "/Learn-More" in a table. Column 1: design file links, Column 2: "License", Column 3: "What this allows"
Copy the corresponding licensing--or licensing guidance--to appear in columns 2 & 3. "What this allows" guidance should start with "See corresponding CC-BY-__ license for guidance. " then, "In general, this allows you to...."

Issue 205 in gitlab

@BrianOttaway

[2017-01-23 22:45] adreanneb opened #73 "Host board design files and collateral on the website, outside of GIT"
@dbkinder  is this considered part of the important move over from wiki items?

issue 222 in gitlab

[2017-01-23 22:47] adreanneb opened #74 "Explore the board roll-over text boxes display, flash off, then display in a new location"
Roll over an item on the board explorer and see the box explaining the item. Move off that item and onto another, and a the new item's text box shows up where the previous item's text box was shown, then flashes off, then displays again at a new location.

Issue 225 in gitlab

[2017-01-23 22:49] adreanneb opened #75 "URLs have been distributed which are providing deep-linked redirects to the wiki"
The server running {www.,}minnowboard.org currently does a hostname redirect to the server to wiki.minnowboard.org -- this means if someone tries to go to www.minnowboard.org/Random_URL they are redirected to wiki.minnowboard.org/Random_URL.
Those deep-link URLs have been distributed externally.
We need to look at the server logs and Google analytics to find out which URLs are currently being redi

[2017-01-23 22:52] adreanneb opened #76 "Link to wiki.minnowboard.org gives a (cert) error"
On the stg.minnowboard.org "Community" page, at the bottom is a link to the minnowboard wiki. Click on that and you get an error

issue 232 in gitlab

[2017-01-23 22:57] adreanneb opened #77 "Internal Intel PDL list and VTM to setup a forward alias from support@minnowboard.org to that PDL"
We need to setup an alias for support@minnowboard.org to forward to an @intel.com address that the MinnowBoard team can monitor.
@valigatorCA  @brottawa  Do either of you know how to get an @intel.com PDL configured?
Can external entities mail to it? (Emails would be originating from the VTM operated server, sent to that PDL address.)
In addition to listing it as an email contact point, the minnow

[2017-01-23 22:58] adreanneb opened #78 "Change routes/help.js to use a VTM mail relay"
n order for /help to be able to send an email to support@minnowboard.org, a mail relay address needs to be provided.
We need to find out what address we can connect to from the VTM server hosting minnowboard.org to send emails to that address.
Related to #239
The code that needs to change:
let transporter = null;
/*
let transporter = nm.createTransport({
  host: ${server-name},
  port: 25
});
*/
C

[2017-01-23 23:00] adreanneb opened #79 "Control-click doesn't work as expected (open the link in a new tab)"
In Chrome and Intenet Explorer, holding down control and clicking on a link opens that link in a new browser tab. This doesn't work (in general) for links on the stg.minnowboard.org site - links open in the same window when you hold down control and click on the link:
If you control-click on one of the header links it should open in a new tab (but doesn't).
If you're in a tutorial and control-clic

[2017-01-23 23:04] adreanneb opened #80 "Get A Board Page; identify which board distis sell to US & EU"
@ebrent8  : @uhofemei  , our friendly TME, received a customer inquiry this week asking which of our disti's were able to sell a board to Europe. @ulf rightlly suggested that this question should be more explicitly answered on the Get-a-board page....many possible ways to reflect this. Ulf will have the clarified answer after email response from Netgate.

Issue 249 in gitlab

[2017-01-23 23:35] BrianOttaway commented on #72
@ebrent8 should be able to establish the columns. We can double check the licensing over call.

[2017-01-23 23:58] BrianOttaway commented on #63
Again, the goal here is to provide clear, visible guidance/disclaimer to developers regarding EM emissions and regulatory....all with the end pursuit of best enabling **prototype to end productization** of their design. Thus, the earlier the developer comprehends and acts on regulatory/safety/etc development, the faster/cheaper they get to production. So, we can go with the below text.

**For down

[2017-01-23 23:59] BrianOttaway commented on #72
Reference bug #63

[2017-01-24 00:14] adreanneb opened #81 "Create "How do I achieve regulatory compliance" tutorial"
Separately, I think it may be helpful to write up a quick "How do I achieve regulatory compliance" tutorial to introduce global regs/ecology/import requirements for production devices. This wouldn't be of much value to experienced professional engineers but may be highly impactful to the developer that has prototyped something cool and wants to get it to production LEGALLY. :)

reference issue #63

[2017-01-24 00:19] ebrent8 commented on #72
@noelianunez We we able to create tables or columns for the website using markdown?  If so, how?  Thx.

[2017-01-24 00:21] adreanneb commented on #72
I can do a plain MD table if that's all we need.

[2017-01-24 00:22] ebrent8 commented on #72
I dunno, we need columns for links and data for this ticket.  How does MD create tables?  Is it in that cheat-sheet that we were looking at earlier?

[2017-01-24 00:24] ebrent8 commented on #72
I guess if this is supported then yeah we can do it.  No prob.
http://www.tablesgenerator.com/markdown_tables

[2017-01-24 00:33] ebrent8 commented on #72
I want to sketch out this solution with @BrianOttaway and then we can tackle it.  I'm not clear on the goal visually etc.

[2017-01-24 16:34] juliocri commented on #68
Hi @adreanneb, you are right markdown syntax only allows Arabic numbers, this is not a default functionality, but we can extend, I remember that some elements can be specified with custom classes such list for example ```{my-class}```, with that we can render the proper style for the list or list item, I let you a link with the examples of list styles that currently exist: http://www.w3schools.com

[2017-01-24 17:09] adreanneb commented on #68
I think that should work @juliocri . Look good to you @dbkinder @ebrent8 ? Thanks!

[2017-01-24 17:21] ebrent8 commented on #68
Looks good to me.  Just do it!

[2017-01-24 17:38] adreanneb opened #82 "External website content - Monitor and/or Update with latest board"
- https://software.intel.com/en-us/iot/hardware/minnow-board-max
- https://software.intel.com/zh-cn/videos/minnowboard-introduction as well as a Chinese forum
- (https://software.intel.com/zh-cn/forums/intel-platform-based-embedded-software-development/topic/629278)

[2017-01-24 18:04] dbkinder commented on #68
ditto.  Transcribing the issue from gitlab to github didn't quite show what was going on with nested lists:

1.  Item One
2.  Item Two
    1. Item Two dot one
    2. Item Two dot two
3. Item Three

I'd like the nested lists (Item two dot one) to use a letter rather than a number so it would look like this:

1.  Item One
2.  Item Two
    a. Item Two dot one
    b. Item Two dot two
3. Item Three

[2017-01-24 18:07] adreanneb opened #84 "New tagline/call to action buttons"
With Jim's approval.

[2017-01-24 18:21] jketreno commented on #29
From a conversation with @noelianunez -- I will modify the back-end to dynamically inject route specific meta-tags when inbound routes are requested. For example, if someone directly loads https://minnowboard.org/board-viewer it will inject meta-tags specific to that route into the index.html that is returned to the client. This should allow search engines and open graph tags to work.

Implementat

[2017-01-24 18:24] adreanneb opened #86 "Home page - Description for MB collection - 2 sentences"
With Jim's approval

[2017-01-24 18:30] jketreno commented on #29
Since the website is optimized using `polymer build`, the meta-tag injection will need to be done on a template sequence that isn't removed during the build process. For the `<base href="/">` tag we currently use `<script>'base href="/"';</script>`. We can do something similar for the meta-tags, putting the following at the top of index.html:

[code]

app.js can then regexp scan the contents being

[2017-01-24 19:01] adreanneb opened #87 "Home page - Board Description, including features and benefits"

[2017-01-24 19:01] adreanneb commented on #87
With Jim's approval

[2017-01-24 19:22] adreanneb opened #88 "Home page - new photos"
For MB3, including inspirational maker desk

[2017-01-24 19:31] adreanneb opened #89 "Get a board page - update with new links"

[2017-01-24 19:33] adreanneb commented on #62
Including MB3 photos

[2017-01-24 19:35] adreanneb opened #90 "Get a board page - add curated shopping carts"

[2017-01-24 19:49] adreanneb opened #91 "Explore the board - new main page"
New main page, so we have the option to link to Turbot and MB3 board viewers from it

[2017-01-24 19:54] adreanneb opened #92 "Explore the board - new board viewer and content"
- Create new board viewer
- Along with Chris, create descriptions for new board viewer parts

[2017-01-24 20:51] adreanneb opened #93 "Update Learn more page(s)"
- Main page - Determine what applies to all boards and design main page with that information; Comparison table?

- Board pages - Design/Create separate learn more pages for each board. Content for MB3.

[2017-01-24 21:00] adreanneb opened #94 "Tutorials - Updates to existing"
Determine which tutorials should be changed to include MB3

[2017-01-24 21:03] adreanneb opened #95 "Tutorials - determine new high-priority tutorials to create"
Brent has a list - determine with Chris and Brian which should be made first

[2017-01-24 23:02] ebrent8 commented on #51
In PROD

[2017-01-24 23:02] #51 closed

[2017-01-24 23:02] adreanneb commented on #72
I started making the table, but of the files that I can open, only one listed the license.

| |  | |
|----|----|----|
|Design File  | License | What this allows |
| [X205 Schematic](http://wiki.minnowboard.org/images/b/bd/Minnowboard_Turbot_X205_Sch.pdf) (PDF)  |  Creative Commons Attribution-Share
Alike 3.0 Unported License |
| [X205 Bill of Materials](http://wiki.minnowboard.org/images/8/85/Minn

[2017-01-24 23:06] juliocri commented on #68
Hey guys @adreanneb, @ebrent8, @dbkinder  I already sent the change to master of the list styles. I'm gonna put an example of how it works, for example if I want to render a list in ```hebrew```,  We can put:

[code]

OR

[code]

As we discussed in a couple of comments above, I'm extending the css styles with the nomenclature in http://www.w3schools.com/cssref/pr_list-style-type.asp (classes from

[2017-01-24 23:27] juliocri commented on #71
@adreanneb I was looking what could be causing the the horizontal scroll, it seems that we need to declare the overflow for IE, I can help with this, but with the vertical scroll I think can not be fixed, due the blank space on the pages is something that help to the slug/anchors functionality and scroll the page to the proper title position.

[2017-01-24 23:46] juliocri commented on #71
@adreanneb I just sent the fix for horizontal scroll.

[2017-01-24 23:51] adreanneb commented on #71
Thanks @juliocri !

[2017-01-24 23:51] #71 closed

[2017-01-25 18:20] adreanneb commented on #69
closing. same as #18

[2017-01-25 18:20] #69 closed

[2017-01-25 22:42] #68 closed

[2017-01-25 22:52] ebrent8 commented on #17
Please create a blank page modeled after the home page template and we'll fill in the content.  Thx.

[2017-01-30 21:19] adreanneb commented on #72
@ebrent8
All design files are released under Creative Commons CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0/). Read about what this license allows for on the Creative Commons website.

@ebrent8 @BrianOttaway Not sure if you want to tackle issue 63 at the same time?

[2017-01-30 21:19] adreanneb commented on #72
Don't use the url but actually link to with "CC BY-SA 3.0" text

[2017-01-30 21:20] ebrent8 commented on #72
okee dokey.  I'll take a shot at it and send ya something to look at and review later.  THx.

[2017-01-30 21:40] ebrent8 commented on #72
@BrianOttaway These links for the ZIP files etc all go to the wiki.  Are we going to move these files under our new website - now or in the future?

[2017-01-30 21:52] ebrent8 commented on #29
@adreanneb has the meta desc and keyword text for the site pages once this is ready.  Thx.

[2017-01-30 21:54] ebrent8 commented on #3
Where do we get the info for J1Pin7 if it's not on the wiki? @BrianOttaway do you know?
If we get the content, I'll make the fix.  Thx.

[2017-01-30 23:46] jketreno commented on #3
@ebrent8 I don't know the content, hence why I filed the bug--so I'm not the right owner :)

Maybe Chris can check the schematic and see if the pin is even connected to anything?

[2017-01-30 23:49] #29 closed

[2017-01-30 23:56] jketreno opened #103 "Update meta.json with meta-tags"
The file [meta.json](https://github.com/MinnowBoard-org/website/blob/master/meta.json) is now ready to be populated with the meta-tags and open graph protocol tags for the website.

@adreanneb The only trick is making sure to escape the strings correctly. Use single apostrophe (') for the field separators, and double quote (") to enclose the full tag. For example:

[code]
**NOTE**: There is no com

[2017-01-30 23:59] ebrent8 commented on #3
@BrianOttaway Is Chris on GitHub?  If so, what's his handle?  Unless you know the answer to 'what's on J1Pin7?"

[2017-01-31 01:24] BrianOttaway commented on #72
The files should ALL be moved to the website or to Github Repo. Creating a new "Board Design Files" Repo would be an easy way to manage file versions and for users to add augmenting files/updates later.  ==> My preference is Github. Thoughts?

[2017-01-31 03:01] jketreno commented on #72
I like the idea of a design files repo -- would be a great place to then have expansion board directories for those as well.

[2017-01-31 03:40] BrianOttaway commented on #72
Bingo. Brent: let's do this tomorrow.

On Jan 30, 2017, at 7:02 PM, James Ketrenos <notifications@github.com<mailto:notifications@github.com>> wrote:

I like the idea of a design files repo -- would be a great place to then have expansion board directories for those as well.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/Min

[2017-01-31 16:17] ebrent8 commented on #72
OK yes let's do this today and agree on the file structure.  Once we do, I'll move the current Turbot stuff over and link the table of docs to the new repo.

**I was thinking something like this:**

minnowboard.org/

/design-files/turbot/  (zip files, pdfs, etc)
/design-files/turbot/expansion/ (lures, etc)

/ design-files/mb3/
/design-files/mb3/expansion/

**What say you guys?  Will that handle cu

[2017-01-31 17:05] ebrent8 commented on #73
The design files are being moved over today.  Brian and James are chiming in on how we organize them behind the scenes.  But yes the Turbot design files are moving over under the website INSIDE of GitHub.

The rest of the wiki pages - that's a different story.  David and Brian and maybe Chris need to help determine that.

[2017-01-31 17:39] jketreno commented on #72
I would prefer them to be in a separate git repo instead of in the website repository. Then issues, features, design discussions, wiki pages, etc. can happen about the individual board designs:

https://github.com/minnowboard-org/design-files/

I do not think e should put any .zip files into the repository. Assets should be committed as separate files. This makes them useful with a git clone witho

[2017-01-31 19:58] BrianOttaway commented on #72
Good comments above. @ebrent8 I think you can move forward:

-I created a new [Design-Files repo](https://github.com/MinnowBoard-org/Design-Files).
-Use full board names as next tier folders. (I agree with what James proposed):
`.../design-files/minnowboard-3/
.../design-files/minnowboard-turbot-dual-core-revX205/ (in notes call out "Rev X205 (PCB Rev F200)" and ADI mfr PN)
.../design-files/minnow

[2017-01-31 20:04] BrianOttaway commented on #72
@ebrent8. Regarding Disclaimers for the Board files, I will add this under the readme and repo description. At minimum we need to reflect some legalese, like:

[2017-01-31 20:07] ebrent8 commented on #72
Hmmmm I'm halfway clear with this.  So some of our docs are in a ZIP.  Do we not want them zipped and linked like we currently do for Turbot?

https://minnowboard.org/learn-more
(links at bottom of that page)

[2017-01-31 20:10] BrianOttaway commented on #72
I'd propose that we have no .zip files...unzip them and put them in repo.

[2017-01-31 20:11] ebrent8 commented on #72
OK.  I'll do one and let you check it out to see if it's what you want.

[2017-01-31 21:41] adreanneb opened #104 "Add Stack Overflow link back into Get Help page"
Once we have someone to monitor it, add back into Get Help:

Stack Overflow
You can also ask your question on Stack Overflow; be sure to put MinnowBoard in the question title or as a keyword.

http://stackoverflow.com/search?q=minnowboard

[2017-01-31 21:47] adreanneb opened #105 "IRC - pull questions to add to GitHub"
Join us on IRC
Users and developers are frequently connected to the freenode.net IRC network on #minnowboard.

Also, if we remove IRC mention, we might open an action to pull some questions from archives list and put them in Github

[2017-01-31 22:19] ebrent8 commented on #72
<img width="334" alt="screen shot 2017-01-31 at 2 18 29 pm" src="https://cloud.githubusercontent.com/assets/18618930/22486906/3791e0de-e7c0-11e6-8f77-b90dbd6e2ba9.png">

[2017-02-01 01:20] BrianOttaway opened #106 "add license files to /design-files repo folders"
License files need to be added to each applicable folder with design files repo.

My thought is that this .txt should probably exist in each folder underneath the the fab. This accommodates the event where a later vendor provides, say, a translation of CAD database into their tool for us to post…(from their view it encourages developers to use their software). Since this is a different vendor, we

[2017-02-01 01:20] ebrent8 commented on #103
I'm completing this and adding the og meta image also.

[2017-02-01 01:22] ebrent8 opened #107 "SmartHome demo tutorial link"
We should add this tut on our website tuts list.
Have an overview of what it does and then link to THEIR site for the code and steps.

https://01.org/smarthome

[2017-02-01 16:01] ebrent8 commented on #3
Chris is not a member of the website project, so I cannot ask or assign anything to him.  Can you add him @BrianOttaway ?

[2017-02-01 17:49] ebrent8 commented on #106
What is the license file?  I'd like to get this ticket and related ones completed today.  I don't know what it should say.  Who does?

[2017-02-01 17:53] ebrent8 commented on #73
Done.  They have their own repo under MinnowBoard now.

[2017-02-01 17:53] #73 closed

[2017-02-01 17:55] ebrent8 commented on #66
@dbkinder Did you take these images back in Dec?  I'm not sure.  If so, please share and I will do the dev to complete this ticket.  Thx.  If not, let me know and assign this to yourself for when we can get to it.  Thx

[2017-02-01 18:08] ebrent8 commented on #3
Once you add Chris, assign it to him to get data .
Then assign to me and i will implement it on the website.

[2017-02-01 19:06] BrianOttaway commented on #106
I created a license guidance file under the /design-files [root](https://github.com/MinnowBoard-org/design-files/blob/master/license-guidance.md).

I will then create a few example license.txt files according to that guidance. In short, the content of the license.txt file should exactly replicate the license that the submitting partner granted.

[2017-02-01 19:30] ebrent8 commented on #103
Fixed and on STG.  JSON is valid.  Unable to test it though.  Since it's a single-page app, right clicking to see the source to see if the meta tags are there, doesn't work.

The free online testers didn't return anything.  http://opengraphcheck.com/

Can you test that it's working correctly @jketreno ?  Thank you.

[2017-02-01 19:39] BrianOttaway commented on #106
I just completed the license.md for turbot PCB revF200. This is done.

@ebrent8 : when you post the MinnowBoard-max/a1 and /a2 I can copy over nearly the same license.md...just need to adjust the attribution reference and future attribution reference.

OK?

[2017-02-01 19:41] ebrent8 commented on #106
OK I'll read it and learn.  But I am not familiar with these OS licenses and just not sure exactly what belongs where.  I will read the ticket and your instructions and follow those.

[2017-02-01 19:42] ebrent8 commented on #106
What do you mean when I post the max a1 a2?  Am I pulling that off the wiki and putting those in the design files too?

[2017-02-01 20:00] ebrent8 opened #111 "review Windows 10 tutorial"
I created a new Win 10 tut.  It's on STG.  Please review it and reword anything to keep with our content tone etc.  Thx.

https://stg.minnowboard.org/tutorials/

[2017-02-01 20:09] dbkinder commented on #103
If the document's title is set with a <title>...</title> tag (or updated after loading with JavaScript), you should see the name on the tab change to be that title.  When I wander around stg.minnowboard.org I don't see the name in the tab changing (it says MinnowBoard.org all the time).  That would indicate that the title is not being changed as you go from page to page...

[2017-02-01 20:10] ebrent8 commented on #103
Yeah I can't verify on STG that it's working correctly.   Thx.

[2017-02-01 20:13] dbkinder commented on #103
Not sure if this is the problem but the url for the Get a board page is https://stg.minnowboard.org/get-a-board  and the pattern shown in the first comment above is "pattern": "/get-a-board/?*".  Since there's no trailing slash on the url could that be an issue (should the pattern be "pattern": "/get-a-board") ?

[2017-02-01 20:15] dbkinder commented on #103
Also, while "view source" may not work, "inspect element"(in chrome) should show you the actual generated web page HTML

[2017-02-01 20:16] ebrent8 commented on #103
Yeah good catch.  @jketreno is the pattern correct with the trailing slash?

[2017-02-01 20:18] dbkinder commented on #103
Here's a fragment from the console log in the browser when loading the get a board page:

Route changing tab from get-a-board to get-a-board
GA: /get-a-board
Route changed to: "/get-a-board"
Route changing tab from get-a-board to get-a-board
GA: /get-a-board
Tab changed to: get-a-board
Fetching pages/get-a-board/get-a-board-intro.md
Fetching pages/get-a-board/get-a-board-after.md
Fetching pages/ge

[2017-02-01 20:29] ebrent8 commented on #111
@BrianOttaway I made a WIN 10 tut.  See link above.  I didnt mention the board type, since it should work for the MB3 and if all our references are to turbot, especially titles, they will all have to change in the future.  Which means changing links etc.  What say you?  Cool as is?

[2017-02-01 20:52] ebrent8 commented on #106
OK a1 and a2 complete.
https://github.com/MinnowBoard-org/design-files

Is that it?  You got the license action from here?

[2017-02-01 21:02] BrianOttaway commented on #111
I say: "Cool as-is"! Take it to prod.

[2017-02-01 21:05] ebrent8 commented on #111
ok @adreanneb it should be on STG.  Refresh browser page to be sure you see the latest.

Thx 'tiger-team' @BrianOttaway !

[2017-02-01 21:15] BrianOttaway commented on #106
just posted license.md files for both max-a1 and -a2. Please double check. Anything else?

[2017-02-01 21:19] ebrent8 commented on #106
I see those but they didnt render correctly for me when clicking on them.  Maybe because I'm a member.  Also do you need the .md file type on there?
<img width="601" alt="screen shot 2017-02-01 at 1 17 54 pm" src="https://cloud.githubusercontent.com/assets/18618930/22526683/0a7a755e-e881-11e6-96b3-a35fcf60a818.png">

[2017-02-01 21:32] BrianOttaway commented on #106
they are rendering for me just fine. Are you sure you are clicking the actual license file and not the commit message?
![image](https://cloud.githubusercontent.com/assets/22825861/22527127/d93cd192-e882-11e6-8a87-24fafa246369.png)

[2017-02-01 21:42] ebrent8 commented on #106
yes duh, my bad.  That's what I was doing.  Ok this sucker is closed and completed.

[2017-02-01 22:01] #106 closed

[2017-02-01 22:03] ebrent8 commented on #80
@BrianOttaway I dont know about this.  Was someone else going to provide EU cart links for us to complete this?  Also, what's the priority on this one?

[2017-02-01 22:05] ebrent8 commented on #89
copy of #80

[2017-02-01 22:06] ebrent8 commented on #63
@BrianOttaway I believe we solved this with the design files being in GIT now.  It can be closed, correct?

[2017-02-01 22:15] dbkinder commented on #92
So what does "create new board viewer" mean?

[2017-02-01 23:03] ebrent8 commented on #92
A new board explorer for the new MB3 board.

[2017-02-01 23:05] ebrent8 commented on #23
Let's go over the info that @dbkinder is identifying at the next content meeting.

[2017-02-02 00:11] BrianOttaway opened #117 "Post Turbot Quad Core design files to repo"
Len Soika to post design files and license for the Turbot Quad core to the repo: https://github.com/MinnowBoard-org/design-files/tree/master/minnowboard-turbot-quad-core/PCB%20rev__

*Work with Brian to make sure you get the licensing correct.

**Need Len to accept collaborator invite so we can assign him as owner.

[2017-02-02 00:52] BrianOttaway commented on #63
Closed. regs guidance addressed in /design-files readme and license.md files

[2017-02-02 00:52] #63 closed

[2017-02-02 01:34] jketreno commented on #103
The meta-tag information is only updated when navigating to pages via URLs, the same way SEO systems access the sites -- not by clicking around the site.

The tags are intended to assest open graph social media embedding and SEO ranking. They weren't design to change the HTML <title> element, which is static to "MinnowBoard.org".

[2017-02-02 17:51] ebrent8 commented on #103
OK.  If it's 'as designed' then cool.   I trust that it's working correctly.  Thx.

[2017-02-02 18:10] ebrent8 commented on #59
Is this complete and on STG or PROD?
Are the events firing and showing up in Google Analytics dashboard?

[2017-02-02 18:26] BrianOttaway commented on #12
Hello @juliocri ...I see Brent just assigned this one to you a day ago...but, this happens to be a bug that drives me crazy. :) do you have line of sight to knock this out?

[2017-02-02 18:40] juliocri commented on #12
Hi @BrianOttaway I remember that once upon the time I did a change for, when you clicked on the 'Tutorial' tab being inside of a tutorial the tab got you to the list page, but the change was not accepted in order to preserve default behave for all tabs (All tabs do nothing when you are within the tab path), I don't remember how I did this change but I can take a look again.

[2017-02-02 19:03] jketreno commented on #12
The background on why the original change wasn't taken was to support the interactive usage of being able to switch back and forth between a loaded Tutorial and the Board Explorer, without the pages continually resetting back to their default state. For example, the user loads a tutorial on how to hook up I2C, and they flip to the Board Explorer to read details about Pin 15, they then go back to t

[2017-02-02 21:53] adreanneb opened #120 "Create Button style"
Please make us a green button like the one below in GitHub. (It will be an href link to Github issues from the Get help page.)
![image](https://cloud.githubusercontent.com/assets/24276479/22570069/c0213000-e94e-11e6-8c4d-a63f9c0522f4.png)

[2017-02-03 00:06] dbkinder commented on #120
If you haven't found it yet, there's an easy CSS button generator here: http://css3buttongenerator.com/
But, do you want a green button, or a GitHub icon for the link?

[2017-02-03 00:08] ebrent8 commented on #120
I believe that Julio is integrating it into markdown for us as per Adreanne's request.

[2017-02-03 01:12] dbkinder commented on #120
oops.  Sorry about closing the issue, I meant to cancel my comment :(

[2017-02-03 01:13] ebrent8 commented on #120
It's cool.  No problem.  Thanks for looking through the bugs and having solutions - appreciate it!

[2017-02-03 16:50] juliocri commented on #59
Hi @ebrent8, We are doing some test on it at Stg.

[2017-02-03 16:54] juliocri commented on #17
Hey we have implemented a rustic message of error when the page is not found in minnow site, only styles and customisation for the message (in markdown) is missing.

[2017-02-03 17:02] ebrent8 commented on #17
OK excellent.  What's the page name in GitHub and location?  Thx !

[2017-02-03 22:21] ebrent8 commented on #17
I found it, thanks.  it's on STG now and looks good.

[2017-02-03 22:23] ebrent8 commented on #70
please include the error page at : pages/error-page/

[2017-02-03 23:12] juliocri commented on #120
@adreanneb, @ebrent8  I'm working on this and I found that class addition is not working  for links, but regardless that we can do a trick to make it happen.  below i let you a couple of examples that we can try:

ADDING A CLASS TO THE END OF A PARAGRAPH AND ALL LINKS INSIDE CAN BE TREATED WITH THE SAME CLASS:

[code]

ADDING LINKS IN SINGLE LINES AND PUTTING THE CLASS AT THE END OF THE LINE:

[co

[2017-02-03 23:16] ebrent8 commented on #120
That works for me.  Pretty simple.  Thanks, let's try it.

[2017-02-03 23:38] juliocri commented on #120
@ebrent8 , @adreanneb I just sent the styles to master, the class you need to use is: ```.btn-green```

[2017-02-03 23:59] adreanneb commented on #120
thanks @juliocri !

[2017-02-04 00:07] ebrent8 commented on #120
Let's wait till its live on PROD until we close this.

[2017-02-04 00:13] ebrent8 commented on #120
Looks great on STG Julio.  Good job and thanks !

[2017-02-04 00:23] ebrent8 opened #129 "embed video solution"
In the near future, we shall need embeded videos for tutorials etc.
One easy solution I was thinking was to have them hosted on our own YouTube channel and then embed as needed like this : http://embedresponsively.com/

This would solve:
- streaming video type headache
- responsive and quality for mobile/desktop headache
- have another place where people could find out about us
- help with SEO by

[2017-02-04 01:33] BrianOttaway opened #130 "Link to component spec sheet…and mouser/digikey order link."
Idea was provided during Android Things prep meeting. Website needs to have links to component specs and ideally mouser/digikey/etc order links.

Brian's view:
- this could be done directly in board viewer. click on a part and second line shows Primary & alternate Mfr and MPN, next to order link. This is a lot of work to keep current.
- second option is to keep the info updated in the product BOM

[2017-02-06 22:35] #120 closed

[2017-02-06 22:35] #111 closed

[2017-02-06 22:35] #103 closed

[2017-02-06 22:36] #72 closed

[2017-02-06 22:37] #17 closed

[2017-02-06 22:38] ebrent8 commented on #130
I like the second option

[2017-02-07 01:08] BrianOttaway commented on #130
in that case the board explorer comp files should have a standard link and text over to the design files repo, like the below for Turbot explorer:

[2017-02-07 06:44] BrianOttaway commented on #81
I think it makes sense to do a single tutorial that covers this topic for all boards, and compares the differences in achieving production certifications.

[2017-02-07 06:47] BrianOttaway commented on #77
@jketreno, @ebrent8 , Can we simply create a new eclists email list and forward to that?...instead of a PDL?

[2017-02-07 06:54] jketreno commented on #77
This was resolved by configuring support@minnowboard.org to be configured via a alias on the server to forward to multiple email addresses.

I don't think having a support email address auto forward to a public mailing is a good idea.

[2017-02-07 07:06] BrianOttaway commented on #77
So, Close this bug?

[2017-02-07 07:08] BrianOttaway commented on #3
Assigned to Chris. Might be a week before he gets around to it.

[2017-02-07 16:21] juliocri commented on #120
@dbkinder just sent a commit removing duplicated styles for the button 👍

[2017-02-07 17:17] adreanneb opened #139 "Create alternate firmware tutorial"
Using info from wiki, create alternate firmware tutorial.

[2017-02-07 17:23] adreanneb commented on #139
@BrianOttaway  @ebrent8 am I talking about MB MAX, Turbot, or both for this tutorial?

[2017-02-07 17:30] adreanneb commented on #139
@BrianOttaway  Also, besides Coreboot, the others don't really seem to exist anymore. Sage went out of business, WinZent no longer returns anything for MinnowBoard, and UBoot maybe but I need your opinion.

[2017-02-07 18:01] #77 closed

[2017-02-07 18:06] juliocri commented on #129
I think I need I little bit time in this to take a look if there is a some stable plugin to the markdown that can be added easily otherwise this will be something pretty custom developed by us.

[2017-02-07 18:27] adreanneb commented on #139
@BrianOttaway @ebrent8 It says this is an auto generated file, but from where: http://wiki.minnowboard.org/images/c/cd/Minnowboard_Max_Coreboot_config.txt
Can I just copy it into a new file?

[2017-02-07 18:30] BrianOttaway opened #143 "Update "About" page text to:"
Update "About" page text to:

[2017-02-07 19:20] adreanneb commented on #143
@BrianOttaway  ok? https://stg.minnowboard.org/about

[2017-02-07 21:32] ebrent8 commented on #139
Yeah copy or save it as a text file.

[2017-02-07 21:34] ebrent8 commented on #129
If we hosted our videos at YouTube, I would hope to be able to either have an HTML tab that we could paste in HTML iFrame like above or get a custom MD tag.

[2017-02-07 21:46] ebrent8 commented on #18
We might need a robots.txt or something else.  We'll talk to James about it soon.

[2017-02-07 21:48] ebrent8 commented on #60
Here's info from @adreanneb, we'll have a quick meeting on this soon to get your direction.

These are the obvious ones:
1.	Turbot: http://wiki.minnowboard.org/MinnowBoard_Turbot to home page https://minnowboard.org/
2.	Where to Buy: http://wiki.minnowboard.org/Where_to_buy to Get a board https://minnowboard.org/get-a-board
3.	About us: http://wiki.minnowboard.org/About_Us to About https://minnowb

[2017-02-07 21:49] ebrent8 commented on #59
I think this is live and working now?  If so, feel free to close this issue.

[2017-02-07 21:54] noelianunez commented on #59
@ebrent8 yes, it is live =) I will close it, thanks

[2017-02-07 21:55] ebrent8 commented on #59
Excellent, thank you !

[2017-02-07 22:22] jketreno commented on #59
@ebrent8 Re-opening; I just spoke with @noelianunez and @juliocri and we implemented another fix to improve the GA reporting. It is currently active on stg.minnowboard.org and ready for the next batch pull to `production`.

[2017-02-07 22:23] BrianOttaway opened #145 "Add "Warranty Guidance" statement to /help page."
Warranty statement to be modified by ADI Engineering...their input pending.

[2017-02-07 22:35] ebrent8 opened #147 "Future Getting Started page"
In the future, we will have multiple branches of the 'getting started' landing page for new OOB users.

Congrats ...

Minnow Turbot Dual
Minnow Turbot Quad
Minnow 3
Minnow 3 IoT

Discuss with @BrianOttaway  in the near future.

[2017-02-07 22:42] adreanneb commented on #105
Not doing this.

[2017-02-07 22:42] #105 closed

[2017-02-07 23:02] BrianOttaway commented on #143
Looks good to me. I forwarded to Jim just for sanity check…but since he wrote it…. ☺

[2017-02-08 17:32] BrianOttaway commented on #139
Adreanne and I reviewed offline. She already had the right stuff headed to markdown.

[2017-02-08 20:03] ebrent8 commented on #70
I think the template needs a new DOM MODULE for the footer info that we can add to every page.  I looked at how the Home page vs the other ones are build, and they seem to differ in that they only load their .MD and not any html or polymer modules.

[2017-02-08 20:22] adreanneb commented on #139
@ebrent8 @BrianOttaway  Ready for your review: https://stg.minnowboard.org/tutorials/alternate-firmware

[2017-02-08 20:50] ebrent8 commented on #139
Looks great.  I added horizontal rules between different firmware titles just to separate them visually.  Awesome fast work @adreanneb !!

[2017-02-08 20:59] BrianOttaway commented on #139
Are the headers established to automatically populate the left side nav?

[2017-02-08 21:01] adreanneb commented on #139
Heading level three are

[2017-02-08 21:42] ebrent8 commented on #80
@BrianOttaway If we have links, I can get them in the site.  Was Anna Louisa going to provide these?  if not her, then who?

[2017-02-08 21:43] ebrent8 commented on #66
@dbkinder If you have these photos, i can create a table and put them in the website.

[2017-02-08 21:48] ebrent8 commented on #57
@BrianOttaway Which of these files do we want in GitHub or linked from our site?  What's valuable?

[2017-02-08 22:44] ebrent8 commented on #11
Fixed this on STG.  It will go out with the next push on Friday , hopefully.
https://stg.minnowboard.org/

[2017-02-08 22:49] juliocri commented on #12
@BrianOttaway , @jketreno  sorry for the late response, but yes I agree, previous solution was inefficient, I just sent a new one to master.. based on tap event from the paper-items.

[2017-02-08 22:50] BrianOttaway commented on #57
My Take:
1. HW-Design
 1. @ebrent8. These are the "minnowboard-v1/rev-a" board files as originally open-sourced by Circuit Co August 2013. Can you copy these over to Github? Then, assign me the issue to get the license file created according to the CC-BY-SA 3.0 unported.
1. OS-Images:
 1. Omit. Not needed.
1. PDFs:
 1. @ebrent8 :Save to GDrive for later. No other action needed.
1. Photos:
 1. @dbk

[2017-02-08 22:51] ebrent8 commented on #12
Super awesome @juliocri Thank you!!!  Yes it works as expected now on STG.

[2017-02-08 23:06] ebrent8 commented on #57
Mkay thx, I'll get r done.
![mater-git-r-done](https://cloud.githubusercontent.com/assets/18618930/22761562/2338507c-ee10-11e6-811d-30a1f2a6240c.jpg)

[2017-02-08 23:07] BrianOttaway commented on #80
Amazon EU URLS: (The status will change to available when we have inventory to sell in the EU...as reported by Netgate @gonzopancho
https://www.amazon.co.uk/dp/B01N0HB0OU
https://www.amazon.co.uk/dp/B01A04QAW2

On [Mouser.de](http://www.mouser.de/Search/Refine.aspx?Keyword=minnowboard). The middle two are the Turbot and Quad. EU can order, but I don't believe Mouser has stocked any in EU geography

[2017-02-08 23:11] BrianOttaway commented on #12
Sweet. And, yes, it is still retaining the pin selections on the board explorer, if a user was jumping back and forth between tutorial and board exp.

[2017-02-08 23:19] BrianOttaway commented on #139
we're set then.

[2017-02-08 23:29] BrianOttaway opened #155 "Add to /help page."
@BrianRichardsonIntel from Intel STO Firmware pointed out that:

________
So, I propose:
1. Brian will edit "bugs-and-issue" repo readme file to point this out.
1. @adreanneb to update /help web page to add on to the current line.
   1. "All MinnowBoard-related topics are appropriate, _except EDK II [firmware](https://github.com/tianocore/tianocore.github.io/wiki/Reporting-Issues) and [firmware se

[2017-02-08 23:40] BrianOttaway commented on #155
I just updated /bugs-and-help repo readme.md to add the link to EDK II issue submission instructions.

[2017-02-08 23:47] adreanneb commented on #155
updated on stage:
https://github.com/MinnowBoard-org/website/issues/155

[2017-02-08 23:47] adreanneb commented on #155
https://stg.minnowboard.org/help

[2017-02-09 00:16] BrianOttaway commented on #155
Perfecto. @BrianRichardsonIntel ?...what do you think?

[2017-02-09 00:18] BrianRichardsonIntel commented on #155
Looks pretty good. I think you may want to say "UEFI" instead of "EDK II", in case new developers don't know what EDK II is.

[2017-02-09 00:27] dbkinder commented on #139
There are some formatting/typos that should be fixed:

- Under "Install the dependencies" the two command lines there should be just one
[code]

- Under "Get Intel Firmware Support Package" you say to download either a Windows or Linux version, but then provide three choices (I don't know what the third choice is).

- Under "Setup Firmware Support Package", the [this guide](...) linking notation i

[2017-02-09 00:36] ebrent8 commented on #139
???? Some of these look fixed to me on STG.
1.  I see them as two lines.
<img width="849" alt="screen shot 2017-02-08 at 4 35 36 pm" src="https://cloud.githubusercontent.com/assets/18618930/22763994/b3f505f4-ee1c-11e6-8b9e-87647579a563.png">

[2017-02-09 00:37] dbkinder commented on #139
the example you show should be one line, not two :)

[2017-02-09 00:38] ebrent8 commented on #139
Ohhhhhhhhhhhhh  gotcha

[2017-02-09 00:39] ebrent8 commented on #139
If you want to fix the other things or test the firmware or answer questions in the other bugs, please join in the fun.  Thx.

[2017-02-09 00:42] dbkinder commented on #139
Not enough hours in the day with all the other projects I'm working on ... but thought I'd do a quick look on some of these going by...

[2017-02-09 16:40] adreanneb commented on #155
@BrianRichardsonIntel Updated- thanks!

[2017-02-09 20:48] BrianOttaway opened #158 "Add to "optional accessories" on /get-a-board page"
Add Standoffs, screws, rubber feet to Optional accessories list. I purchased stainless steel options below...will confirm and then we can add to site.

- Standoffs:
  - Female aluminum Standoffs at [McMaster-Carr](https://www.mcmaster.com/#female-threaded-round-standoffs/=16lgm1q). Aluminum is ideal for securing expansion cards to the top-side Low Speed Expansion (LSEv1) or secondary side High Spe

[2017-02-09 23:08] BrianOttaway opened #161 "add warranty info to /help"
Add below "warranty information" to the /help page, with appropriate header so it shows up in left nav. My thought is that it should go at the bottom of the page, as most people are not going to the page for warranty info.

[2017-02-09 23:09] ebrent8 commented on #161
k i got it

[2017-02-09 23:12] ebrent8 commented on #161
on STG
https://stg.minnowboard.org/help

[2017-02-09 23:13] ebrent8 commented on #145
same as #161

[2017-02-09 23:13] #145 closed

[2017-02-09 23:28] BrianOttaway commented on #161
great.

[2017-02-10 17:45] ebrent8 commented on #130
Do you mean that we put that text (above) with link in the left-hand side of the page?
<img width="755" alt="screen shot 2017-02-10 at 9 44 24 am" src="https://cloud.githubusercontent.com/assets/18618930/22837481/a2d2c5ea-ef75-11e6-81e2-767daddd9832.png">

[2017-02-10 18:01] BrianOttaway commented on #130
I wasn't talking about putting the text there at top left...but it does seem like a better idea...instead of putting it into every single unique component explorer file. Perhaps in your suggestion we could shorten it to be another line in bold blue text: Design Files and BOM in Github

[2017-02-10 18:04] ebrent8 commented on #130
Yeah lets not put it on every explorer file.  If you can shorten it, I'll put it in there.  It already mentions schematic and design files.  Easy to fit that in with the link.  Tell me what you want it to say and I'll add it now.  Thx.

[2017-02-10 18:21] ebrent8 commented on #65
closing and fixed in staging.  duplicate of #12

[2017-02-10 18:21] #65 closed

[2017-02-10 21:03] ebrent8 commented on #57
@BrianOttaway All yours for the license file.  Then close this ticket.  Thx.
https://github.com/MinnowBoard-org/design-files

[2017-02-10 21:46] BrianOttaway commented on #130
- Implementation on stage looks good.
- Let's just skip the 2nd part of the issue "mouser/DK order link"...has lower value.

[2017-02-10 21:47] BrianOttaway opened #164 "High Speed Expansion URL going to 404"
This from Turbot Board viewer...HSE link is 404.
![image](https://cloud.githubusercontent.com/assets/22825861/22845436/72badc5e-ef97-11e6-9812-2a9b851e9c6b.png)

[2017-02-10 21:51] #164 closed

[2017-02-10 21:53] jketreno commented on #164
Fixed on staging w/ commit 5e03aac56

[2017-02-10 22:06] BrianOttaway commented on #57
license.md added for rev-a PCB...via commit: 08aaf425c07f38092c6550e0a08c6ad22b1611b8
Closing this issue.

[2017-02-10 22:06] #57 closed

[2017-02-10 22:12] BrianOttaway commented on #22
@jketreno @ebrent8 : When opening board explorer in mobile, it now looks like we can no longer "request desktop site" that shows the full screen. One can see the board, but can't click on any of the components to get detail. ==> If this is the case, do you think we should simply have different messaging for mobile views of board explorer??...some guidance that tells them what to expect on mobile v

[2017-02-10 22:29] jketreno commented on #22
The board explorer is intended to be usable on mobile. I believe you are seeing multiple problems:

* Touch interactions aren't firing the tap events
* There is a race condition when loading the SVG; it isn't confined to just mobile experiences. It happens a lot on IE and sometimes on Chrome.
* Scaling operations seem to have a sporadic bug, that occurs very frequently on IE.

I recommend changing

[2017-02-10 22:58] ebrent8 commented on #76
No longer happening on stg or prod.  Closing.

[2017-02-10 22:58] #76 closed

[2017-02-10 23:06] ebrent8 commented on #7
I couldn't find any non-https links.  The wiki links do not have either http/https so they default to what the server uses.

[2017-02-13 16:51] adreanneb commented on #89
This is adding MB3 links to Get a board page, not EU stuff.

[2017-02-13 21:36] BrianOttaway commented on #117
clarification on the license...IMO, should use the exact same "CC-BY-SA 3.0 Unported" license that is in Github /design-files repo for the  prior Turbot. Feel free to copy the markdown file exactly...or copy the text to a new file. Happy to help if any question.

[2017-02-13 22:44] BrianOttaway opened #165 "Create MB3 learn-more page & /get-a-board link"
We've had several requests to get at least a quick MB3 summary page up on the website. This helps align with the UEFI firmware that is already open sourced. My proposal:
- Add MB3 to the /get-a-board table, and simply list "later 2017" instead of supplier links. Link to a first version of /learn-more-MB3 page.
- Create /learn-more-MB3 content to a level fit for early summary.
- at some time later.

[2017-02-15 21:13] adreanneb opened #166 "Change supplier site links from wiki to new site"
Adreanne to determine exact links that need to be changed

[2017-02-15 21:20] adreanneb commented on #166
Mouser:
http://www.mouser.com/new/adi-engineering/minnowboard-turbot/

Netgate:
https://store.netgate.com/Turbot4.aspx
https://store.netgate.com/Turbot.aspx

ADI :
http://www.adiengineering.com/products/minnowboard-turbot-duale/
http://www.adiengineering.com/products/minnowboard-turbot/

[2017-02-15 21:47] ebrent8 commented on #61
Difficulty:  Low
Difficulty:  Medium
Difficulty:  High

Let's use those.  We just need to change the "Level" field.  I can fix the label and work with ya on it.

[2017-02-15 21:51] #24 closed

[2017-02-15 21:55] ebrent8 commented on #166
Let's remove the wiki links for this.
Also let's put a reference to the top of the page, and link to our site where these new links are.
I'll help.

[2017-02-15 22:00] BrianOttaway commented on #104
Executive Decision: we are closing this ticket....We will not monitor Stack Overflow in the near-term so we don't want to further fracture our set of community information...taking it away from Github. ==> We can adjust later as needed.

[2017-02-15 22:00] #104 closed

[2017-02-15 23:36] BrianOttaway opened #167 "Update wiki firmware pages with redirect URLs"
After issue #139 is pulled into production, update all the firmware wiki pages to delete current text and simply add referral URL.
1. http://wiki.minnowboard.org/UEFI
   1. Change to: "Refer to [https://minnowboard.org/tutorials/updating_your_firmware](Update The Firmware) tutorial.
   1. Update firmware tutorial to remove last line reference back to Wiki
1. http://wiki.minnowboard.org/Coreboot, h

[2017-02-16 04:17] daniellejeong opened #168 "Minnowboard Turbot sdcard booting"
Hi,
I've encountered some problems when trying to boot the minnowboard,
so I am looking for ways to fix it.

When I power the board, it displays the message
'?bytes of system memory bytes checked'
and shows the message "boot failed" twice.
Then it enters a UEFI interactive shell where it says,

UEFI Interactive Shell v2.1
EDK II
UEFI v2.40 (EDK II, 0x00010000)
map: No mapping found.
Press ESC in 1

[2017-02-16 05:18] zwei4 commented on #168
UEFI Interactive Shell v2.1
EDK II
UEFI v2.40 (EDK II, 0x00010000)
map: No mapping found.
Press ESC in 1 seconds to skip startup.nsh or any other key to continue.
Shell>

Above message shows that there is no SD card detected on your board.
Please make sure your SD card functions well.

[2017-02-16 05:19] zwei4 commented on #168
Sorry, i was meant to say your SATA hard disk is not detected.

[2017-02-16 10:56] daniellejeong commented on #168
I was working with another Minnowboard Turbot that was working properly,
and then I encountered the same problem again!!!

I was having trouble with the network configuration,
so what I did was,
I shut down the computer, switched the network card to another one,
turned on the computer, and then found that the problem wasn't solved,
so I put back the original network card again.

When I did that an

[2017-02-16 18:08] adreanneb commented on #166
**Mouser**
http://www.mouser.com/new/adi-engineering/minnowboard-turbot/
•	Right side under picture says MinnowBoard Turbot Wiki. Change to MinnowBoard.org website.

[2017-02-16 18:08] adreanneb commented on #166
**Netgate**
https://store.netgate.com/Turbot4.aspx
https://store.netgate.com/Turbot.aspx

Under SOFTWARE COMPATIBILITY it says:
See the Wiki for additional information.
Change to “See the MinnowBoard.org website for additional information.”

DOCUMENTATION
REMOVE:
o	Minnowboard Wiki with known issues, board design files, etc.
o      Getting Started Getting Started
o	IRC Live Group Chat Info
o	Read

[2017-02-16 20:16] adreanneb commented on #166
**ADI**
http://www.adiengineering.com/products/minnowboard-turbot-duale/
http://www.adiengineering.com/products/minnowboard-turbot/

•	Collateral will be posted to minnowboard.org (https://minnowboard.org/)

**Documents**
•	Change MinnowBoard Wiki to MinnowBoard.org Website
•	Remove IRC chat
•	3D model: https://github.com/MinnowBoard-org/design-files/blob/master/minnowboard-turbot-dual-core-revX20

[2017-02-17 22:16] ebrent8 commented on #161
verified in PROD

[2017-02-17 22:16] #161 closed

[2017-02-17 22:19] ebrent8 commented on #155
verified in PROD

[2017-02-17 22:19] #155 closed

[2017-02-17 22:19] ebrent8 commented on #143
verified in PROD

[2017-02-17 22:19] #143 closed

[2017-02-17 22:20] ebrent8 commented on #139
verified in PROD

[2017-02-17 22:20] #139 closed

[2017-02-17 22:20] ebrent8 commented on #130
verified in PROD

[2017-02-17 22:20] #130 closed

[2017-02-17 22:21] ebrent8 commented on #12
verified in PROD

[2017-02-17 22:21] #12 closed

[2017-02-17 22:21] ebrent8 commented on #11
verified in PROD

[2017-02-17 22:21] #11 closed

[2017-02-21 17:09] adreanneb commented on #167
Done.

[2017-02-21 17:09] #167 closed

[2017-02-21 17:12] adreanneb opened #170 "Change wiki pages to redirect to website"
1.	Turbot: http://wiki.minnowboard.org/MinnowBoard_Turbot to home page https://minnowboard.org/
2.	Where to Buy: http://wiki.minnowboard.org/Where_to_buy to Get a board https://minnowboard.org/get-a-board
3.	About us: http://wiki.minnowboard.org/About_Us to About https://minnowboard.org/about
4.	Community: http://wiki.minnowboard.org/Get_Involved to Community https://minnowboard.org/community

For

[2017-02-21 17:19] #170 closed

[2017-02-21 18:15] ebrent8 commented on #168
This issue was posted in the website bugs.  **I think you need to post this in the project Issues section which is monitored for this kind of support.**

https://github.com/MinnowBoard-org/bugs-and-help/issues

[2017-02-21 18:58] adreanneb commented on #61
done @ebrent8

[2017-02-21 19:26] BrianOttaway commented on #166
@gonzopancho : See above comment from Adreanne for Netgate URLs that we'd request you update.
@tdanowski : See above comment from Adreanne for ADI and Mouser URLs that we'd request get updated to new web links.

[2017-02-21 19:29] ebrent8 commented on #158
On hold till @BrianOttaway reviews these.  Then reassign to brent.

[2017-02-21 19:29] adreanneb opened #182 "Update main wiki page with redirect text to the website"

[2017-02-21 19:30] #182 closed

[2017-02-21 20:13] ebrent8 opened #183 "create wiki WIN tutorial redirects"
Add text to redirect users to the new website tuts from the wiki WIN ones.
Also provide a link to MS IoT in case they want adv tuts.

[2017-02-21 21:13] ebrent8 commented on #183
done live on wiki

[2017-02-21 21:13] #183 closed

[2017-02-21 21:36] jketreno opened #184 "Add which page was a 404 in GA data"
If the `error-page` is triggered, the GA page event does not capture original targetted page. We can fix this by adding the following patch. **NOTE**: We need the index from the GA dashboard set for the value of `dimension0`

@noelianunez Capturing this issue here so we can track it through to production.

[code]

[2017-02-21 23:30] #184 closed

[2017-02-21 23:32] noelianunez commented on #184
@jketreno dimension counter starts with 1

var dimensionValue = 'SOME_DIMENSION_VALUE';
ga('set', 'dimension1', dimensionValue);

[2017-02-21 23:35] jketreno commented on #184
I pushed the change to staging with `dimension1` used as the custom dimension value. Thanks!

[2017-02-23 22:54] adreanneb opened #214 "Create a lure tutorial"
We need a tutorial to show how to use the lures.

[2017-02-24 19:52] lsoika commented on #117
Turbot B Dual and Quad Core files have been posted.

[2017-02-24 22:33] adreanneb opened #222 "Create folder and move over lure design files from wiki"
move all the lure design files to github from wiki so i can link pages to them. Thanks.

[2017-02-24 22:41] adreanneb opened #224 "determine if want to move these files over from wiki, then move over"
https://github.com/MinnowBoard/minnow-max-extras

[2017-02-24 23:15] adreanneb commented on #222
the overview lure page has different lures on it that the individual pages don't call out.

[2017-02-24 23:32] juliocri commented on #129
@ebrent8 I just pushed some changes to the markdown renderer in order to put youtube videos, is easy only need to know the video id and put a 1 markdown line such the next one: ```![@youtube](ehEN-0CAp2U)``` I also puto some examples in https://stg.minnowboard.org/markdown-style-guide/youtube-video-embedding

[2017-02-24 23:56] ebrent8 commented on #129
Very nice!  Yeah that's way cool.  Thank you.

[2017-02-27 18:14] adreanneb opened #232 "Review Wiki projects and determine what should move to website"
For Mark?

[2017-02-27 23:10] ebrent8 commented on #75
duplicate of #60 now

[2017-02-27 23:10] #75 closed

[2017-02-27 23:11] ebrent8 commented on #70
This one bugs me to no end.  Moving to Priority_High

[2017-02-27 23:12] ebrent8 commented on #7
This one is related to #60 as well.  Not a duplicate, but in the same ballpark and may be resolved by that resolution.

[2017-02-27 23:13] ebrent8 commented on #7
As a matter of fact, it will probably change to simply **remove all links and references to the WIKI.**

[2017-02-28 18:12] BrianOttaway commented on #117
per email thread, two things remain to be posted:
- CAD database (requires scrubbing for external release)
- Cert reports (may need to redact personal phone numbers or similar)

[2017-02-28 19:51] ebrent8 commented on #7
I have created a list of redirects from the wiki GA and other known search results.  This will all take place ONCE the wiki is shut down.  I will plan this with James and ODX.

[2017-02-28 19:55] ebrent8 commented on #60
I have a master list of redirects that we'll need from the old wiki and search results.  I think this should coincide with the wiki being shut down but I'll take your advice on it.  I'll sched a meeting.  Peace.

[2017-02-28 21:10] BrianOttaway commented on #166
@adreanneb: Jamie reports that all the Netgate URLs are update.

[2017-02-28 21:11] BrianOttaway opened #257 "Change /get-a-board URL"
On /get-a-board page, Change "Netgate" URL for the "MinnowBoard Turbot Dual Core".
FROM: https://store.netgate.com/Turbot.aspx
TO: https://store.netgate.com/Turbot2.aspx

*WHY: Netgate is out of stock of the Turbot A DC and has a separate SKU/URL for the Turbot B dual-core.

![image](https://cloud.githubusercontent.com/assets/22825861/23435779/32052712-fdbd-11e6-89f3-b47e6131d0ee.png)

[2017-02-28 22:46] adreanneb commented on #166
@BrianOttaway the dual core doesn't look updated, but the quad is

[2017-02-28 22:48] adreanneb commented on #166
@BrianOttaway Forget it. I just saw the new link!

[2017-02-28 22:49] BrianOttaway commented on #166
done. forgotten. :)

[2017-02-28 23:16] noelianunez commented on #70
@ebrent8 We have been working on this but is tough since we have the drawer with position absolute it has been a pain to try to place the footer. The only workaround we are able to achieve is placing the footer in the bottom but sticky, it will always be visible. If you want to see this, I can push it to stage so that you can review it.

[2017-03-02 22:58] ebrent8 opened #281 "Tutorial idea : How do I know it's working"
For the list…perhaps a “How do I know its working” tutorial?...maybe a debug flow chart?

This is the official warranty statement from the /get-help page….work with the place you bought it at.

Seems like we need a “How do I know it works” debug tutorial…

 https://minnowboard.org/help/warranty

[2017-03-02 23:17] adreanneb commented on #222
@BrianOttaway some of the lures have creative license 4.0. Should we keep that or should everything change to 3.0? Thanks for your extreme knowledge.

[2017-03-02 23:30] BrianOttaway commented on #222
The license can't change from its original release, without approval from the licensor. I don't see a need to change...CC-BY-__ 3 or 4 is sufficient. Let's just retain the exact license associated on wiki. If in doubt, I can review further.

[2017-03-03 18:18] adreanneb commented on #222
@ebrent8 The lure pages are ready to go once the design files are moved over and i can link to them.

[2017-03-03 18:25] BrianOttaway commented on #158
see above...this work @ebrent8 ? It is a bit more of a story, because there are options depending on what they are looking for.

[2017-03-03 22:03] adreanneb opened #303 "add developer journey to tutorials"
add as tutorial to site

https://01.org/developerjourney/recipe/build-your-own-rapid-prototype-board-minnowboard-turbot

[2017-03-03 22:04] adreanneb commented on #303
@jketreno said it's ready to go--just needs a few more pics maybe

[2017-03-05 18:12] ebrent8 commented on #158
Yeah let's talk about how to organize it on the 'get a board' page and i'll get it on this week.

[2017-03-06 18:37] ebrent8 commented on #28
Is this just an issue of the links in json are not .md links?  Can we fix this in content?

[2017-03-06 20:08] jketreno commented on #28
It is in the .md files; at some point we had to turn off the auto-URL detection because the site was wrapping every instance of `minnowboard.org` with a hyper-link. @juliocri might have found a way to keep that from occurring; if so, then we could turn auto-URL detection back on and these markdown files would auto-URLify again..

If we can't turn auto-URL back on, the .md files need to have URLs e

[2017-03-06 22:13] ebrent8 commented on #222
OK I moved all of the lures which actually had design files or a PDX schematic.  Some did not.  They are now at https://github.com/MinnowBoard-org/design-files/tree/master/expansion-boards-lures

So this one is done?

[2017-03-06 22:16] adreanneb commented on #222
dun

[2017-03-06 22:19] BrianOttaway commented on #222
stellar. thx

[2017-03-07 00:43] ebrent8 commented on #158
@BrianOttaway Let's talk about the best way to organize these on the 'get a board' page after our meeting tomorrow.

[2017-03-07 00:50] ebrent8 commented on #222
@adreanneb Will you please verify that whatever license text is located where it's supposed to?  I just moved the linked design files.

[2017-03-07 01:51] adreanneb commented on #222
@ebrent8 I copied the license from each lure page so should all be correct!

[2017-03-07 16:26] noelianunez commented on #70
@ebrent8 any update on this?

[2017-03-07 21:33] ebrent8 commented on #168
@daniellejeong  Were you able to get an answer for this question?  If so, let's close the issue.  If not, please post it under the **bugs and help** link above where you can get assistance.  Thx.

[2017-03-07 22:17] ebrent8 commented on #70
Nope.  I wasn't able to figure out how to add the footer to every page.  If you, ODX or James can do it, that would be nice.  Thanks.

[2017-03-07 22:18] ebrent8 commented on #28
OK.  Sounds like it is in progress.

[2017-03-07 22:22] ebrent8 commented on #224
Hmmm.  What does this mean?  Is everything over that needs to be, except projects TBD?
What about that Minnow Max Extras link above?  Are we linking to that from our new MB MAX page?

[2017-03-07 22:32] adreanneb commented on #224
i think we decided to leave the extras on github where they are, no?

[2017-03-07 22:45] ebrent8 commented on #224
Yeah that makes sense.  Do we need to link to them from the new MAX page?  Probably?

[2017-03-07 22:54] adreanneb commented on #224
there's a link to the calamari section in there, but not sure how else to reference it

[2017-03-07 22:55] ebrent8 commented on #224
Hmmmm yeah.  I don't know.  @BrianOttaway can possibly give direction and value on this.

[2017-03-08 01:29] zwei4 commented on #168
Is there any Blk and FS showed by UEFI Shell this time?

[2017-03-08 02:13] daniellejeong commented on #168
ebrent8 i will close the issue because I kind of solved it :)
and hi zwei4!
I concluded that my SATA drive is broken because it couldn't locate any directories in the UEFI shell.
So I put the image file in the SD card and was able to boot it!

Another new Minnowboard Turbot that was showing the same problem was just my silly mistake.
I thought I was switching the network chip, but what I actually

[2017-03-08 02:13] #168 closed

[2017-03-08 17:35] noelianunez commented on #70
@ebrent8 Yes,  I was able to do it but it will be sticky at the bottom of all pages, does that work? I want to confirm that to push it to stage :) thanks!

[2017-03-08 18:04] ebrent8 commented on #70
Can you push it to stg?  How can I verify and see it?  Thx.

[2017-03-08 18:37] ebrent8 commented on #257
verified in PROD

[2017-03-08 18:37] #257 closed

[2017-03-08 18:37] ebrent8 commented on #222
verified in PROD

[2017-03-08 18:37] #222 closed

[2017-03-08 18:38] ebrent8 commented on #158
verified in PROD

[2017-03-08 18:39] ebrent8 commented on #129
verified in PROD

[2017-03-08 18:39] #129 closed

[2017-03-08 18:40] ebrent8 commented on #61
verified in PROD

[2017-03-08 18:40] #61 closed

[2017-03-08 18:41] ebrent8 commented on #23
We have everything except 'Projects' which Brian is going to assess.

[2017-03-08 18:41] #23 closed

[2017-03-08 21:05] noelianunez commented on #70
@ebrent8 I have just push it to stage :) please let me know if it works, otherwise I will remove my commit.

[2017-03-08 21:09] ebrent8 commented on #70
Thank you.  Hmmmmm.  It takes up more real estate than I imagined.
@jketreno or @juliocri is there any way to have a regular bottom footer?  Even on the home page it seems weird to have it sticky all the time.

[2017-03-08 21:13] noelianunez commented on #70
@ebrent8 , @jketreno the issue I came into was that drawer and main have position absolute because of polymer and its functionality so the footer is not placed in the bottom since the main layout does not grow with the content and there is no way to place the footer at the end of the content without been sticky. @jketreno any other idea?

[2017-03-08 21:25] acidaniel commented on #70
Flex grid could work for this.

[2017-03-09 17:09] adreanneb opened #341 "Tutorials - review and update the board option for each"
![image](https://cloud.githubusercontent.com/assets/24276479/23761579/23984c30-04a8-11e7-835a-08d6071aa975.png)

[2017-03-09 17:53] BrianOttaway commented on #341
@ebrent8 , @adreanneb : What do you think about precedence here? My inclination is opt1 or opt2...explicitly stating the board names makes it clear, doesn't rely on users to interpret "compatible" statements, and would this support later filtering? Opt 2 if we were limited in space. Also, seems logical if board titles were URL links to the board landing page (learn-more?).

- Option 1: (list all b

[2017-03-09 17:55] BrianOttaway commented on #341
What is in PROD right now looks right...though I would go ahead and add Max to all with Turbot

[2017-03-09 17:58] jketreno opened #342 "resetTab is throwing an exception when changing tabs"
![image](https://cloud.githubusercontent.com/assets/742584/23763482/a462f544-04ae-11e7-81c4-0e315523f756.png)

@juliocri Looks like commit 9d96af6b might have been the change that introduced a JS exception when changing tabs; go to the board-viewer, then back to the main page and the exception gets thrown. Hopefully a quick fix; I'm in the middle of some other code and can't diverge mental topics

[2017-03-09 18:07] adreanneb commented on #341
I like option 2. "Compatible" just adds another step for user if they aren't sure. I will add MAX to all

[2017-03-09 18:14] juliocri commented on #342
@jketreno ready, i just sent the change, i forgot to validate the property before...

[2017-03-09 18:30] ebrent8 commented on #341
I agree with @adreanneb

[2017-03-09 18:36] BrianOttaway commented on #341
Cool. it's settled.

[2017-03-09 18:44] adreanneb commented on #341
all now say MAX and Turbot, except Getting Started which says "MAX and Turbot dual- and quad-core"

[2017-03-09 19:15] jketreno commented on #70
Pushed a commit to https://stg.minnowboard.org that implements a thin footer for all pages except the main landing page, which uses the thicker full footer.

@ebrent8 Let me know your thoughts.

[2017-03-09 21:31] ebrent8 commented on #70
This will work for now.  Not perfect but better than none at all and better than the fat one.
I say ship it.  Maybe for the MB3 version, we can have a normal bottom footer.
Thank you.

[2017-03-09 22:44] ebrent8 commented on #158
OK new stand-off text and links are on STG.  I checked the new links, but you may want to double check me too.  @BrianOttaway thx.
https://stg.minnowboard.org/get-a-board

[2017-03-10 00:09] BrianOttaway commented on #158
looks good. checked links too.

[2017-03-10 18:53] adreanneb opened #356 "Review site for wiki links and edit"

[2017-03-13 16:26] adreanneb commented on #70
Looks good. Can we do a line to separate?

Terms of service  |  Privacy  |  Cookies

Feedback  |  Contact

[2017-03-13 17:48] jketreno commented on #70
They are currently separated by horizontal whitespace, with visibility and font size based on responsive window width. If we put them on separate lines, we start to get back into having a fat footer taking up screen real estate. Until the footer is part of the scrolling content, vertical space allocated to the footer should be minimized.

Even in a future version that scrolls with the content of t

[2017-03-13 17:59] jketreno commented on #70
OOooooooh! Yeah :) We can do that. My bad.

[2017-03-13 18:02] adreanneb commented on #70
thanks @jketreno !

[2017-03-13 18:41] ebrent8 commented on #70
Hey - we got a text emoji from @jketreno !!!!

[2017-03-13 21:40] jketreno commented on #70
New version is pushed to staging with the vertical line break.

[2017-03-13 21:51] adreanneb commented on #70
I like it if @ebrent8 thinks it's designly appropriate

[2017-03-13 23:17] ebrent8 commented on #70
Yep that's cool.  Thx.

[2017-03-14 20:38] BrianOttaway commented on #224
Item closed...we will keep the old Github project.

[2017-03-14 20:38] #224 closed

[2017-03-14 20:38] ebrent8 commented on #158
in prod

[2017-03-14 20:38] #158 closed

[2017-03-14 20:39] #341 closed

[2017-03-14 20:41] ebrent8 commented on #84
these will be redone with a new homepage

[2017-03-14 20:41] #84 closed

[2017-03-14 20:45] BrianOttaway commented on #87
Brian to draft.

[2017-03-14 20:47] ebrent8 commented on #87
Create hidden landing page with MB3 info.  No links to it from our site yet.

[2017-03-16 18:38] adreanneb commented on #232
http://wiki.minnowboard.org/Projects

[2017-03-17 16:52] ebrent8 commented on #356
I will work with you on this.  There are some remaining links to some wiki info that we didn't pull over yet.   The links are in the board explorer popup tab info.  I'll get a list of which tabs and what info they point to for the next content meeting.

[2017-03-17 17:05] ebrent8 commented on #356
**Links to wiki I missed:**
- https://stg.minnowboard.org/  footer / **fixed on STG**
- pages/attributions.md  : I don't think this content is live on the site, should it be?
- tuts/powering on minnowboard : http://wiki.minnowboard.org/UEFI
- pages/learn-more-intro.md - **fixed on STG**

[2017-03-17 23:15] ebrent8 opened #418 "Mobile oddities"
Viewing the production public website on iPhone 5s, possibly other mobile devices.

1.  There is a strange letter "**g. |**" on the top right of the screen in mobile mode.  See screenshot.

2.  The "**goto project**" popup appeared/disappeared despite not being logged in to GitHub on my phone.

![img_3371](https://cloud.githubusercontent.com/assets/18618930/24066068/cc910c02-0b2c-11e7-9241-9d0296b

[2017-03-17 23:25] keerockl commented on #418
It looks fine on my device. I am using LG G3 Android Phone. browser is Chrome.

[2017-03-20 20:44] ebrent8 opened #422 "Remove Lures list from Get A Board page"
We currently list some of the Lures on the Get A Board page:
https://stg.minnowboard.org/get-a-board

We should remove that list of them and point users to our new and awesome LURES page instead of having duplicated content.

[2017-03-20 23:13] Mark-van-der-Pol opened #424 "Unlear language in tuturial 'installing Ubuntu 16.04'"
"At this point, you can use the MinnowBoard Turbot as you would a desktop PC.
_Expose_ the Ubuntu interface, check out the installed programs and file system, open a shell prompt (terminal) and play with the linux command-line shell, and more."

I suspect the word "Expose" was meant to be 'Explore'

[2017-03-22 16:34] ebrent8 commented on #424
Yes, agreed.  I'll fix it now.  Thx.

[2017-03-22 19:22] ebrent8 opened #425 "change contact email address"
on /pages/contacts

change to  info@minnowboard.org

[2017-03-22 20:33] ebrent8 opened #427 "new email address for minnowboard.org"
We need **info@minnowboard.org** to be fwd to the following email addresses:
   sara.f.sarmiento@intel.com
   brian.r.ottaway@intel.com

[2017-03-27 17:32] BrianOttaway opened #429 "Wifi Tutorial for Turbot"
Create wifi tutorial for Turbot. OS coverage minimum is Linux and Win. Bounce outline off of @uhofemei and @ebrent8 .

-Option A: Wifi dongle plus discussion of how to manage available USB ports with key/mouse/hub/etc.
-Option B: [SilverJaw Lure](https://minnowboard.org/silverjaw-lure) plus mPCIe wifi card, [such as](https://www.htpcbeginner.com/5-linux-compatible-wifi-cards-mini-pcie-2012/).

[2017-03-27 17:35] uhofemei commented on #429
@Mark-van-der-Pol, I think as for Linux the tutorial should cover Fedora, OpenSuSE and and Ubuntu. For Windows it should be Win 10 IoT.

[2017-03-27 17:46] BrianOttaway commented on #429
FYI: TPLink dongle reference in tweet today: https://twitter.com/AccelShark/status/846283097171607552

[2017-03-28 07:01] Chlorophytus commented on #429
@BrianOttaway I've done a simple patch on the RTL8814AU driver to get wifi to work with the TP-Link AC1900 dongle, since it appears to not be supported by default. https://github.com/Chlorophytus/rtl8814AU

Tested on Alpine Linux.

[2017-03-28 20:45] BrianOttaway commented on #429
Great. Thx @Chlorophytus . @Mark-van-der-Pol is going to compile a table of verified dongles.

[2017-03-29 03:16] gogo9th commented on #429
Hi Mark,

I used a different WiFi dongle and it just worked out of box. So I suppose it was that the previous one was either defective or incompatible...

[2017-03-29 17:27] Mark-van-der-Pol commented on #429
@gogo9th - glad you got a WiFi dongle to work - would you please post the lsusb report for it? And possibly the pedigree if you know it - Brand name and what it is marketed as?
eg for the one on the board I am using
ID 148f:7601 Ralink Technology, Corp. MT7601U Wireless Adapter
Joylive Mini Wireless Wifi Wlan Adapter Stick Dongle 150 Mbit Ieee 802.11b/g/n Usb 2.0

Thanks, |\/|ark.

[2017-04-02 21:36] gogo9th commented on #429
I'm very sorry for the late reply.
My WiFi dongle is EDIMAX:

https://www.amazon.com/Edimax-EW-7811Un-150Mbps-Raspberry-Supports/dp/B003MTTJOY/ref=sr_1_1?ie=UTF8&qid=1491168912&sr=8-1&keywords=edimax+dongle

[2017-04-03 17:47] #425 closed

[2017-04-03 17:49] ebrent8 commented on #422
Should we put a section title after Accessories for the Expansion Lures and link to that page from there?
https://minnowboard.org/get-a-board

[2017-04-03 17:51] #424 closed

[2017-04-03 17:53] #147 closed

[2017-04-03 18:46] Mark-van-der-Pol commented on #429
Thank you  @gogo9th , and if it isn't too much trouble, please also report the output of the command 'lsusb' under ubuntu in a command or terminal window. It may list many devices, and one will be the EDIMAX - I just need to see that one line. This will reveal which particular driver is being used.
Thanks, |\\/|ark.

[2017-04-03 19:09] adreanneb commented on #422
it's under there already--you just mean make it a title?

Get Accessories

Before getting started with your board, you will need these recommended components. Purchase them from the below retailers or from one of your choice. Make sure to follow the listed requirements when buying the parts.

For information on expansion boards (lures) available for purchase, see the Lures page.

[2017-04-03 19:13] adreanneb commented on #422
Like this?
https://stg.minnowboard.org/get-a-board

[2017-04-03 21:13] ebrent8 commented on #422
yes cool perfect !

[2017-04-03 22:06] jketreno commented on #418
Some data to help in prioritizing the implementation and research into this issue. On average, 13% of traffic to the site come in on mobile. During social network ad campaigns, that percentage climbs to ~33%. When mobile does come in, approximately 71% of the mobile traffic originates from Android devices, and ~27% from iOS.

As a minimal step, we should look to add es6-shim to see if that fixes a

[2017-04-03 22:20] ebrent8 commented on #418
Yeah.  I think this is a pretty low priority compared to other issues.  Not the biggest deal, I just wanted to note it somewhere.

[2017-04-03 22:31] ebrent8 commented on #147
This was just a reminder about the obvious arch changes that we'll need to address with the MB3 website.  We can reopen it, but it was for me and I know what needs to be done.

[2017-04-04 02:14] gogo9th commented on #429
$ lsusb

Bus 001 Device 009: ID 0bda:8179 Realtek Semiconductor Corp. RTL8188EUS 802.11n Wireless Network Adapter
Bus 001 Device 008: ID 7392:7811 Edimax Technology Co., Ltd EW-7811Un 802.11n Wireless Adapter [Realtek RTL8188CUS]

$ usb-devices

T:  Bus=01 Lev=01 Prnt=01 Port=03 Cnt=01 Dev#=  8 Spd=480 MxCh= 0
D:  Ver= 2.00 Cls=00(>ifc ) Sub=00 Prot=00 MxPS=64 #Cfgs=  1
P:  Vendor=7392 ProdID=7811

[2017-04-04 23:05] ebrent8 commented on #82
We are now rockin the Turbot on the IoT page which will also be translated into multi languages.
https://software.intel.com/en-us/iot/hardware/minnow-board-turbot

[2017-04-04 23:05] #82 closed

[2017-04-04 23:07] ebrent8 commented on #59
I assume this is completed and needs to be closed @noelianunez ?

[2017-04-05 18:02] BrianOttaway opened #435 "Add Dediprog and possibly flyswatter instructions to "update FW tutorial""
Add new content section to below tutorial to add instructions/guidance on using Dediprog to update firmware.
https://minnowboard.org/tutorials/updating_your_firmware

[2017-04-05 18:02] BrianOttaway commented on #435
@keerockl: not sure if you want to help mark on this.

[2017-04-05 18:08] keerockl commented on #435
Sure, we will work together.

[2017-04-05 18:09] #422 closed

[2017-04-05 18:09] #356 closed

[2017-04-05 23:18] ebrent8 opened #436 "update firmware version"
on https://minnowboard.org/tutorials/updating_your_firmware

change to latest version is 0.95
https://firmware.intel.com/projects/minnowboard-max

[2017-04-05 23:46] ebrent8 commented on #436
Done, baby. https://minnowboard.org/tutorials/updating_your_firmware

[2017-04-05 23:46] #436 closed

[2017-04-12 20:49] ebrent8 opened #439 "New Tutorial : Power Up the MinnowBoard 3"
We'll need a new separate tutorial that the current MB Turbot one on the website.

[2017-04-12 20:56] ebrent8 opened #440 "New Tutorial : MB3 Install OS- Windows IOT Core"
MB3 Install OS- Windows IOT Core
Begin with the current one and see if it works with MB3 or if we need a separate new one.

[2017-04-12 21:00] ebrent8 opened #441 "New Tutorial : MB3 Install OS- Ubuntu"
Start with current one, see if it still applies.

[2017-04-12 21:01] ebrent8 opened #442 "New Tutorial : MB3 Install OS- WindRiver Pulsar"
Start with current one, see if it applies.

[2017-04-12 21:02] ebrent8 opened #443 "New Tutorial : MB3 Install OS- WIN10 Full"
Start with current one, see if it all still applies.

[2017-04-12 21:02] ebrent8 opened #444 "New Tutorial : MB3 Install OS- Android Things"
This is new.

[2017-04-12 21:03] ebrent8 opened #445 "New Tutorial : MB3 Update Firmware"
Needs to be new.  New screens for the MB3.

[2017-04-12 21:05] ebrent8 opened #446 "New Tutorial : MB3 Storage Options"
This will be new and unique to MB3.

[2017-04-12 21:05] ebrent8 opened #447 "New Tutorial : MB3 OS Comparison"
Brian will define this one.

[2017-04-12 21:06] ebrent8 opened #448 "New Tutorial : MB3 Serial, USB Debugger, Lauterbach?"
MB3 Serial, USB Debugger, Lauterbach? ==> all together or diff?

Discuss with Brian.

[2017-04-12 21:08] ebrent8 opened #449 "New Tutorial : MB3 Alternate Firmwares"
Discuss with Brian

[2017-04-17 17:33] BrianOttaway opened #450 "Change references to 8GB SD Card to 16GB preferred."
added per @Mark-van-der-Pol

[2017-04-17 19:43] ebrent8 opened #451 "New Tutorial : MB3: Update Firmware via SPI Flash Tool"

[2017-04-17 19:44] keerockl opened #452 "MB Turbot ISP FW Upgrade Tutorial"
Tutorial document for "Update the firmware using SPI Flash Tool" is ready in Tutorial Draft folder.

[2017-04-17 19:45] ebrent8 opened #453 "New Tutorial : Power Up the MinnowBoard 3"

[2017-04-17 19:45] ebrent8 opened #454 "New Tutorial : MB3 Hello World (Blink an LED, etc??)"

[2017-04-17 19:46] ebrent8 opened #455 "New Tutorial : Sensors Kit"

[2017-04-17 19:47] ebrent8 opened #456 "New Tutorial : MB3 Getting Started"
MB3 Getting Started (info directed to from .org/setup URL page)

[2017-04-17 20:04] keerockl commented on #452
Thanks to Mark for helping reviewing document together!

[2017-04-18 17:36] #342 closed

[2017-04-18 17:38] #59 closed

[2017-04-18 17:41] juliocri commented on #70
@noelianunez, @adreanneb, @ebrent8, @jketreno can we close this issue?

[2017-04-18 17:42] ebrent8 commented on #70
Yes please, thanks.

[2017-04-18 17:42] #70 closed

[2017-04-18 18:46] juliocri commented on #20
@ebrent8, @jketreno, @dbkinder This thread seems that have not been updated in about 4 months (conversation), is this still needed?

[2017-04-18 19:06] juliocri commented on #28
@ebrent8 I think @jketreno in his previous comment tell you how to set the links only changing the content... I just sent to master the change, right now in Stage seems like in the next screenshot:

![screen shot 2017-04-18 at 14 02 38](https://cloud.githubusercontent.com/assets/8356225/25148289/f8810bb0-243f-11e7-8de0-56cf5b193c9d.png)

[2017-04-18 19:07] juliocri commented on #28
@ebrent8 let me know when this change is in production in order to close this issue.

[2017-04-18 19:35] juliocri commented on #79
@adreanneb I was reviewing this, and the root cause is because the links that you mentioned in the reality are not links, are divs that works as anchors but being a div has not control click actions as same as the proper anchors have....

Mainly all the divs that simulates an anchor are titles or slugs auto generated or are internal references to content in the minnow site, I think we can change t

[2017-04-18 19:37] juliocri commented on #55
@jketreno is this still required to be fixed?

[2017-04-18 20:35] ebrent8 commented on #79
I don't think it's worth it to make any costly changes at this point.

[2017-04-18 20:36] ebrent8 commented on #28
Will do.  I added the 'staged' label which we can check in PROD later this week with some other changes.  Thx.

[2017-04-18 20:37] ebrent8 commented on #20
Not worth the trouble.  I'm closing.

[2017-04-18 20:37] #20 closed

[2017-04-18 21:23] ebrent8 commented on #451
I added the folders and basic empty files on the website in STG.
The draft of this is in gdrive.

@keerockl Let us know when you are done with this tutorial and we'll get it on the website.  Thx.

[2017-04-18 21:31] keerockl commented on #451
@ebrent8 I have created MB Turbot ISP FW Upgrade Tutorial #452 yesterday and assigned to you. :) please duplicate either one.

[2017-04-18 21:57] ebrent8 commented on #451
duplicate of #452

[2017-04-18 21:57] #451 closed

[2017-04-18 23:19] ebrent8 commented on #450
Changed to 16 GB and staged on the Ubuntu tutorial.
The accessories says 8 GB (16GB recommended).

[2017-04-19 14:55] juliocri commented on #79
Agreed, I will close this issue by now.

[2017-04-19 14:55] #79 closed

[2017-04-19 17:04] noelianunez commented on #60
@ebrent8 did you already had the meeting to discus this? do you need any help from our side? Thanks

[2017-04-19 17:17] ebrent8 commented on #60
Yes we need ODX and James help with this.  I fwd you an email about it.

[2017-04-19 22:41] adreanneb commented on #450
@ebrent8 are there any other instances of this?

[2017-04-19 22:51] ebrent8 commented on #450
Not that I could find.  The get a board page says 8GB (16 GB recommended).  Apart from that, the Ubuntu tut mentioned 8 GB which I changed to 16.  I think we are good.  Except for this cold rain which never goes away.  But that's another story and I digress ...

[2017-04-20 23:08] ebrent8 commented on #450
fixed in prod

[2017-04-20 23:08] #450 closed

[2017-04-20 23:08] ebrent8 commented on #452
in PROD, looks good

[2017-04-20 23:08] #452 closed

[2017-04-20 23:09] ebrent8 commented on #28
@juliocri This is now in PROD, please verify and close if it's complete.  Thanks.

[2017-04-20 23:10] ebrent8 commented on #281
Who should do this one?  Still a priority?

[2017-04-20 23:55] BrianOttaway commented on #281
Yes. Still a priority...for both Turbot and MB3. @keerock or @mark

[2017-04-24 22:22] ebrent8 commented on #165
Sure.  Let's discuss what content goes on this page and the details of it.

[2017-04-25 21:19] jketreno commented on #60
@ebrent8 Can you add the list of redirects you want to this issue so I can add it to the server?

[2017-04-25 21:31] jketreno commented on #60
You now can edit the list of redirects in the [redirects.json file](https://github.com/MinnowBoard-org/website/edit/master/redirects.json) as documented in [REDIRECT.md](https://github.com/MinnowBoard-org/website/blob/master/REDIRECT.md).

[2017-04-25 21:41] jketreno commented on #60
The commit 30835c2 implemented the 301 redirect layer, but it did not close the issue so I re-opened it.

To complete (and close) the issue:

1. [redirects.json](https://github.com/MinnowBoard-org/website/edit/master/redirects.json) needs to be updated to the complete list of redirect paths
2. The feature needs to be pushed to production
3. A virtual-host entry for wiki.minnowboard.org needs to be

[2017-04-25 23:09] ebrent8 commented on #60
Redirects PDF attached.  Thank you.

[MinnowBoardRedirects.pdf](https://github.com/MinnowBoard-org/website/files/956789/MinnowBoardRedirects.pdf)

[2017-04-26 14:34] jketreno commented on #60
For easier searching, tracking, and indexing, here are the contents of the pdf, with the wiki.minnowboard.org prefix removed (see note at end of this comment)

| key | value |
|:---|:---|
|/MinnowBoard_MAX|/minnowboard-max/|
|/MinnowBoard_Turbot|/|
|/MinnowBoard_Wiki_Home|/|
|/Where_to_buy|/get-a-board/|
|/UEFI|/tutorials/|
|/MinnowBoard_MAX_HW_Setup|/minnowboard-max/|
|/Windows|/tutorials/|
|/Lur

[2017-04-26 17:15] jketreno commented on #60
I have merged the code changes to production and verified that redirects for pages like: [http://www.minnowboard.org/MinnowBoard_MAX_HW_Setup](http://www.minnowboard.org/MinnowBoard_MAX_HW_Setup) are working correctly.

Once steps 3 and 4 of [the above comment](https://github.com/MinnowBoard-org/website/issues/60#issuecomment-297173514) are done by VTM, the redirect for "wiki.minnowboard.org/*" UR

[2017-04-26 17:53] ebrent8 commented on #427
Jen completed this this email alias and can manage it.

[2017-04-26 17:53] #427 closed

[2017-04-26 18:09] ebrent8 opened #503 "add email validation to help form"
The help email address field on the help page is required but needs email validation.  This will help to ensure that an email address with  'zzzz@zzz.com' will work but 'sadf' will not.

https://stg.minnowboard.org/help

This may be the way to do it or you may have a better way.
https://www.webcomponents.org/element/PolymerElements/gold-email-input

[2017-04-27 15:20] ebrent8 commented on #60
OK @jketreno - VTM has said that they did 3 and 4 above.  Can you do some tests on your side?

I quickly went to google, typed 'minnowboard', then clicked on the results for 'Minnowboard Max'.
I expected it to redirect to our new '/minnowboard-max' page as shown in the redirect like, but it just went to the homepage.

<img width="706" alt="screen shot 2017-04-27 at 8 18 57 am" src="https://cloud.g

[2017-04-27 16:33] jketreno commented on #60
It looks like VTM put in a site wide redirect from https://wiki.minnowboard.org => https://minnowboard.org instead of a virtual host for wiki.minnowboard.org that provides a proxy to the minnowboard web app.

[2017-04-27 17:22] ebrent8 commented on #60
Hmmm.  Playing telephone between you guys is pretty fun.  I'll CC you on the email to Jim in order to get more specific instructions for them.  Thx.

[2017-04-27 21:27] ebrent8 commented on #60
Looks good on PROD.  Thank you.

[2017-04-27 21:27] #60 closed

[2017-04-27 21:59] ebrent8 opened #505 "global purchase options"
Sara and Ulf are getting questions about how and where to buy MB globally.

[2017-05-01 17:22] #94 closed

[2017-05-01 17:32] #232 closed

[2017-05-01 19:59] ebrent8 opened #507 "New Tutorial : Install Yocto for MB3 & Turbot"

[2017-05-01 20:15] ebrent8 opened #508 "Board Viewer appears broken in PRODUCTION"
Please QA the board viewer in Production and see if you are getting the same overlapping tabs and content that I see in the attached screenshot.

I am on Chrome, Mac.

![screen shot 2017-05-01 at 1 13 25 pm](https://cloud.githubusercontent.com/assets/18618930/25593095/1aa07570-2e70-11e7-8605-32e86ada1bf6.png)

[2017-05-01 20:16] ebrent8 commented on #28
Fixed and verified in PROD

[2017-05-01 20:16] #28 closed

[2017-05-01 20:58] jketreno commented on #508
All looks good on:

Linux: Firefox
Linux: Chrome
Windows 8.1: Firefox
Windows 8.1: Internet Explorer 10
Windows 8.1: Chrome

Tested by going to https://minnowboard.org/board-viewer and clicking around on multiple entries to bring up multiple context tabs. Everything is working correctly.

@ebrent8 Can you provide the steps to reproduce the issue on a non-Mac system? What version of Chrome? What ve

[2017-05-01 20:59] ebrent8 commented on #508
Hmmm ok.  Yes I will clear browser cache and try to reproduce with steps etc.
Thx for the quick look.

[2017-05-01 21:33] ebrent8 commented on #508
Here are my computer and browser details:
Mac OS X 10.12.4

**Safari 10.1** - Looks fine

**Chrome** 58.0.3029.81 (64-bit) - I can consistently get the strange overlapping behavior on the board viewer tabs.  I've restarted the browser and used incognito windows which contain now previous cache js, css etc.

[2017-05-02 15:39] juliocri commented on #508
It seems the issue is only present on for that version of Chrome:

Seeing the same problem in mac: 10.11.6, and Chrome: 58.0.3029.81 (64-bit)

I just updated the browser to latest version, before I was in 57.x and everything was ok...

[2017-05-02 16:19] ebrent8 commented on #508
Thanks @juliocri.  Yeah I agree.  It was fine before.  I am hoping that this issue resolves itself when the next dot update to Chrome is released.

[2017-05-03 15:47] adreanneb commented on #166
ADI site is updated! @valigatorCA

[2017-05-03 17:14] noelianunez commented on #503
@ebrent8 Fix sent to master, can you verify in stg? Thanks =)

[2017-05-03 18:15] ebrent8 commented on #503
Looks good on STG.  Working as expected.  Thanks.

[2017-05-03 18:21] #503 closed

[2017-05-04 19:20] ebrent8 opened #511 "create Automotive grade Linux tut link"
You know what to do.  Do the thing.  Make it so.

[2017-05-04 21:56] keerockl opened #512 "New Tutorial : Install Yocto for MB Turbot"

[2017-05-04 21:57] keerockl opened #513 "Add Instruction on how to switch LSE pin functionality from Firmware or OS"

[2017-05-05 16:13] ebrent8 opened #515 "Create MB3 intro"
This Pi overview video is something we could do this summer for our MB3.  An overview of capabilities with an emphasis on IoT and our super powers.

http://www.memoryexpress.com/Products/MX61461

[2017-05-05 17:32] BrianOttaway commented on #505
US/CA: Mouser, Arrow, Netgate, Amazon
EU: Mouser, Amazon.UK (Netgate may ship for a fee)

Asia: Turbot boards have not been production certified for this geography. We are assessing potential expanded certifications.

[2017-05-08 18:03] ebrent8 opened #517 "tutorial title and content issue - broken"
There is an issue with the tutorials and I'm not sure what exactly.  Please look at the last new tutorial on stg: https://stg.minnowboard.org/tutorials

You will see an image for the Auto Grade Linux tutorial at the bottom, but no title or text.  There is an .md file with those elements which do not show up.  You can click on the image thumnail to see the tutorial detail, which is minimal right no

[2017-05-08 19:45] juliocri commented on #517
@ebrent8 It could be an issue or not, the rule to extract the summary which is shown in the list was based on get all the content between the first heading and the second one, so... no having a second one, the rule does not work properly, I just sent the change of the rule to stage, now the rule does not care about a second heading. please let me know if this work for you!

[2017-05-08 19:48] ebrent8 commented on #517
Looks cool.  Thank you for looking at it so quickly.

[2017-05-08 19:48] #517 closed

[2017-05-08 21:20] ebrent8 commented on #511
Done and live in PROD

[2017-05-08 21:20] #511 closed

[2017-05-10 23:26] ebrent8 opened #528 "using markdown for mailto links"
I don't see an easy way to create mailto links using our version of markdown.
When I try to use either the usual href markdown links like this:
[email us](mailto:support@minnowboard.org)

It doesn't work.  Neither does plain vanilla html.  Am I doing something wrong?  If so can you provide an example please.  Thx.

[2017-05-11 15:44] juliocri commented on #528
I'm checking adding the same example (below) in a markdown file:

```[email us](mailto:support@minnowboard.org)```

and based in this example, nothing is wrong with it...

And is working fine, the only weird thing that i noticed was that the mailto-link is always rendered as external link, I just sent the change to avoid that behaviour, and the [email us](mailto:support@minnowboard.org) working fi

[2017-05-12 00:27] ebrent8 commented on #528
fixed in PROD

[2017-05-12 00:27] #528 closed

[2017-05-23 02:42] noelianunez opened #566 "Update Content"
Updated

"MinnowBoard B41 Quad Core" for "MinnowBoard quad core" and replaced also Dual Core for dual core

[2017-05-23 17:56] #566 closed

[2017-05-23 17:58] noelianunez opened #568 "Update GSC tag for verification"
HTTPS website is not registered in Google Search Console so new meta tag needs to be added for this:

< meta name="google-site-verification" content="ItC7g2v9pxJGO8ArKGBGNKrSGRYJcNyuRsoQ_nooYl8" />

[2017-05-23 18:01] noelianunez commented on #568
Invalid issue, GSC generated same content tag as http verification =) no changes needed

[2017-05-23 18:01] #568 closed

[2017-06-02 18:18] ebrent8 opened #577 "remove brent from web form alias"
Remove Brent from web form alias

[2017-06-05 17:04] BrianOttaway commented on #577
Done.

[2017-06-05 17:04] #577 closed

[2017-06-09 22:06] noelianunez opened #578 "Update email "from" in send question form"
Basically, when a user submits a question via the Minnowboard web form (https://www.minnowboard.org/help), it creates an email like the one below where both the “From” and the “To” email address is support@minnowboard.org.
When the email goes through the Office365 Microsoft Exchange server, the server thinks it's some sort of phishing or junk email and automatically puts the email into the Junk fo

[2017-06-12 22:22] noelianunez commented on #578
Will merge to production after Jen Chen confirmation that it is working.

[2017-09-08 07:33] RRieraAlvic opened #589 "When I try to update UEFI FW I get “Please make sure the flash is not write protected”?"
I'm a user of the Minnowboard MAX, in order to test different Windows 10 OS (32 and 64 bit) I need to change the FW of the UEFI from 64 to 32 and viceversa.

At first, I updated the FW of the Minnowboard from 64 bit to 32 bit without any problem with the command, after this I installed Windows 10 32 bit.
But when I tried to go back to a 64 bit OS, when I send the command to change the FW from 32 b

[2017-11-14 14:04] Trentonsystems opened #590 "Quad-core dual Ethernet version minnow board?"
I am in the process of designing an enclosure using 24 (quad-core dual Ethernet version) minnow boards.
Is there a 3D Cad model available showing the particularly the i/o connectors and other features to help me package this?
An .Step or .IGES file would be great.

[2017-11-17 19:20] nubok opened #591 "Suggestion: Add SPI Hook to Components page"
Just a consideration:

On the components page (https://minnowboard.org/where-to-buy/component) it might make sense to add the SPI Hook (http://www.tincantools.com/SPI_Hook.html), too. At least I can say that it served me really well when I accidentally bricked my Minnowboard Max 2 when I did an UEFI update (much cheaper than having to buy the Dediprog SF100 SPI Flash programming tool.

[2017-11-17 19:22] nubok commented on #591
Edit: I just see that the SPI Hook seems not to be sold anymore. So I close this issue.

[2017-11-17 19:22] #591 closed, assigned to nobody

[2020-01-15 05:38] alexanderbeloiu opened #592 "Minnowboard.org Down"
Hey, your website minnowboard.org is down, and I can not acess it. It is not a local issue. isitdownrightnow.com also reports that it is down [https://www.isitdownrightnow.com/minnowboard.org.html](url).

[2020-01-15 05:40] alexanderbeloiu commented on #592
I found a cached version here [http://web.archive.org/web/20190609034335/https://minnowboard.org/](url)

[2020-02-03 18:12] Keiaxx commented on #592
Unfortunately, looking at wayback machine they had a message as show in the image below:

[Imgur](https://imgur.com/qG5ZLnJ)

[2020-02-04 17:28] alexanderbeloiu commented on #592
@Keiaxx, thanks, I was wondering what happened. I think the raspberry pi computer made minnowboard go out of bussiness.

[2020-02-04 17:28] #592 closed, assigned to nobody

[2021-12-19 09:27] Necrosys opened #593 "Minnowboard.org Compromised"
Minnowboard.org is compromised. Please check your website.
![Minnowboard org_20211219_1](https://user-images.githubusercontent.com/19776699/146670028-f9407d4c-d163-4498-bf83-1ac3ab5d32fc.png)
![Minnowboard org_20211219_2](https://user-images.githubusercontent.com/19776699/146670034-937cfc2e-3864-4d61-8fbd-d4d674f07ef7.png)

[2022-07-20 19:51] macpijan commented on #593
Just noticed this as well